/*  ------------------- brown-green theme */
body {
  background: #c6d2be;
}

a,
.company-about a:hover,
.aside-article-wrapp article a:hover,
.m-card-tt:hover,
.head-loc-link,
ul.menu > li a:hover,
ul.menu > li span:hover,
.menu-drop-down > ul > li > a:hover,
.h-nav-link-icon:hover,
.prod-tt,
.article-inner-info .article-list-links li a:hover,
.art-content-list li a:hover,
.cabinet-item a:hover {
  color: #238923;
}

a:hover {
  color: #1e751e;
}

.icon-dialog-h,
.menu-icon span,
.menu-icon span:before,
.menu-icon span:after,
.pagination .active a,
.pagination .active a:hover,
.logo a,
.footer-logo a,
.btn,
.h-nav-link-btn,
.line-tt:before,
.c-main-share:before,
.aside-article-wrapp article:before,
.card-price:before {
  background-color: #238923;
}

.btn:hover,
.h-nav-link-btn:hover {
  background-color: #1e751e;
}

.head-loc-link,
.article-inner-info blockquote,
.owl-thumbs .owl-item.current > div {
  border-color: #238923;
}

.menu-open-wrapper {
  background-color: #3a332c;
}

.article-inner-info ul > li {
  background: url(../img/list-bg-green.png) 0 8px no-repeat;
}

.icon-arrow-rt {
  background-image: url(../img/sprite.png);
  background-position: -160px -102px;
  width: 8px;
  height: 14px;
}

.icon-lock {
  background-image: url(../img/sprite.png);
  background-position: -223px -28px;
  width: 20px;
  height: 26px;
}

.icon-key {
  background-image: url(../img/sprite.png);
  background-position: -170px -56px;
  width: 26px;
  height: 26px;
}

.h-search-form button,
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -56px -154px;
  width: 26px;
  height: 26px;
}

.icon-house-img {
  background-image: url(../img/sprite.png);
  background-position: -120px -51px;
  width: 48px;
  height: 49px;
}

.menu-dd-open .icon {
  background-image: url(../img/sprite.png);
  background-position: -221px -208px;
  width: 13px;
  height: 8px;
}

.icon-soc-fb {
  background-image: url(../img/sprite.png);
  background-position: -24px -208px;
  width: 22px;
  height: 22px;
}

.icon-soc-insta {
  background-image: url(../img/sprite.png);
  background-position: -154px -182px;
  width: 22px;
  height: 22px;
}

.icon-soc-ok {
  background-image: url(../img/sprite.png);
  background-position: -245px -18px;
  width: 12px;
  height: 20px;
}

.icon-soc-tw {
  background-image: url(../img/sprite.png);
  background-position: -134px -208px;
  width: 18px;
  height: 15px;
}

.icon-soc-vk {
  background-image: url(../img/sprite.png);
  background-position: -198px -168px;
  width: 20px;
  height: 12px;
}

.icon-house-min {
  background-image: url(../img/sprite.png);
  background-position: -143px -120px;
  width: 24px;
  height: 24px;
}

.icon-star-fill {
  background-image: url(../img/sprite.png);
  background-position: -245px -164px;
  width: 15px;
  height: 14px;
}

.icon-star-half {
  background-image: url(../img/sprite.png);
  background-position: -245px -212px;
  width: 15px;
  height: 14px;
}

.icon-star-empty {
  background-image: url(../img/sprite.png);
  background-position: -245px -116px;
  width: 15px;
  height: 14px;
}

.icon-pin-p {
  background-image: url(../img/sprite.png);
  background-position: -28px -154px;
  width: 26px;
  height: 26px;
}

.icon-attention {
  background-image: url(../img/sprite.png);
  background-position: 0px -60px;
  width: 58px;
  height: 58px;
}

.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: -198px -112px;
  width: 22px;
  height: 26px;
}

.icon-wallet {
  background-image: url(../img/sprite.png);
  background-position: -64px -120px;
  width: 25px;
  height: 24px;
}

.icon-page {
  background-image: url(../img/sprite.png);
  background-position: -78px -182px;
  width: 24px;
  height: 22px;
}

.icon-user {
  background-image: url(../img/sprite.png);
  background-position: -72px -208px;
  width: 20px;
  height: 22px;
}

.icon-logout {
  background-image: url(../img/sprite.png);
  background-position: -198px -28px;
  width: 23px;
  height: 26px;
}

.icon-dialog {
  background-image: url(../img/sprite.png);
  background-position: -175px -236px;
}
 
.icon-message-i {
  background-image: url(../img/sprite.png);
  background-position: -82px -233px;
}