.nav-choise-wrapp .form-actions .btn {
	line-height: 14px;
}

.item-list ul.pagination li {
	margin: 0 0 0 10px;
}


.aside-article-wrapp.view-comments article:nth-child(2)::before {
    display: none;
}

.aside-article-wrapp.view-comments article:nth-child(2) {
	padding-top: 0;
}

.footer-soc a {
    overflow: hidden;
    text-indent: 100px;
}

.footer-soc p {
	margin: 0;
}

.soc-enter-icon a {
	padding: 0;
}

.soc-enter-icon .icon {
	width: 100%;
}

.form-actions, .form-item {
	margin: 0;
}

#user-login-form .form-actions {
	display: inline-block;
}

#firms-filter-form .product-item {
	margin: 0;
	width: 100%;
}

.fivestar-static-item .fivestar-summary {
	display: none;
}

.field-name-field-rate div.fivestar-widget .star, div.fivestar-widget-static .star {
	margin-right: 2px;
    vertical-align: top;
	height: 14px;
    width: 15px;
	background: none;
}

.item-list .bread-crumbs li {
	margin: 0;
}

.node-advpoll .form-type-radios .form-type-radio {
	margin: 25px 0;
}

.block-block.aside-light-bl-wrapp p {
	margin: 0;
}

.c-main-map, .c-main-map .geofield-ymap, .prod-prov-map, .prod-prov-map .geofield-ymap {
	height: 200px;
}

.c-main-map .geofield-ymap {
	width: 450px;
}

.prod-prov-map .geofield-ymap {
	width: 200px;
}

.ya-share2 {
	display: inline-block;
	vertical-align: middle;
}

.comment-form .form-type-fivestar label {
	display: inline-block;
    font-size: 18px;
    margin: -1px 15px 0 0;
    vertical-align: top;
	font-weight: normal;
}

.comment-form .form-type-fivestar .form-item {
	display: inline-block;
}

.comment-form .field-name-comment-body label {
	display: none;
}

.comment-form .form-actions {
	display: inline-block;
}

.no-margin {
	margin: 0;
}

.owl-carousel .owl-item img {
	height: auto;
}


input[type="email"] {
    width: 100%;
}

.modal-enter p {
	margin: 0;
}

.prod-prov-info .stars-rating {
	overflow: hidden;
}

.prod-prov-info .stars-rating .clearfix {
	clear: none;
}

.article-img img {
	width: 100%;
	height: auto;
}

.vud-widget-updown {
	width: auto;
	padding: 0;
	float: none;
}

figure div {
	margin-bottom: 20px;
}

.grippie {
	display: none;
}

.vud-widget-updown .up-active, .vud-widget-updown .down-active {
	width: 22px;
}

.review-form {
/* 	margin: 30px 0 0 25px; */
}

.indented .form-ruls {
	width: 350px;
}

.indented .comment-form {
	padding-bottom: 30px;
}

.indented .review-bl-item {
	border-top: medium none;
    padding-top: 5px;
}

.review-bl-item ~ .indented {
	border-bottom: medium none;
}

img { 
	height: auto !important;
}

.modal-ruls p {
	margin: 0;
}

.h-search-field {
	width: 100%;
}

#block-system-main .h-search-form  {
	width: 100%;
}

.poll .voted .bar {
	border: none;
}

#advpoll-cancel-vote-form {
	display: none;
}

#user-register-form .field-name-field-agree .form-item .description {
	display: inline-block;
    margin-left: 0;
    vertical-align: middle;
    max-width: 90%;
    line-height: 18px;
}

#user-register-form .soc-enter {
	margin-top: 20px;
}

.indented .review-bl-item {
	border-bottom: 0;
}

.poll-message {
	display: none;
}

.view-polls .views-row {
	margin-bottom: 20px;
	padding-bottom: 20px;
/* 	border-bottom: 1px solid  */
}

.div.image-widget-data {
	float: none;
}

.node-form label {
	display: none;
}

.node-form .field-name-field-image .description {
	display: none;
}

.selects {
	width: 100%;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	margin: 0 0 20px;
	float: none !important;
}

.hierarchical-select-wrapper .hierarchical-select select, .hierarchical-select-wrapper .hierarchical-select .add-to-dropbox, .hierarchical-select-wrapper .hierarchical-select .create-new-item {
	float: none;
	margin: 0;
}

.field-widget-taxonomy-hs .description {
	display: block;
    padding-bottom: 5px;
    color: #666666;
    font-size: 11px;
    line-height: 20px;
}

.hierarchical-select-wrapper .dropbox {
	margin: 20px 0;
	display: block;
}

.add-to-dropbox, .field-type-image .form-submit,
.field-type-field-collection .field-add-more-submit {
	min-width: 165px;
	display: inline-block;
    vertical-align: middle;
    min-width: 128px;
    margin: 0;
	font: normal normal 14px/24px "NEXTART_Bold", Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
	border-radius: 17px;
}

.field-type-field-collection table {
	width: 100%;
}

.field-type-field-collection .tabledrag-toggle-weight-wrapper,
.field-type-field-collection thead,
.field-type-field-collection td.field-multiple-drag/*, 
.field-type-field-collection td.*/ {
	display: none;
}

.field-type-field-collection tbody {
	border: 0;
}

.field-type-field-collection tr.even, .field-type-field-collection tr.odd {
	padding: 0;
	border: 0;
	background: none;
}

.field-type-field-collection .cancel {
	padding: 5px 30px;
	background-color: #333333;
	display: inline-block;
    vertical-align: middle;
    min-width: 128px;
    margin: 0;
	font: normal normal 14px/24px "NEXTART_Bold", Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
	border-radius: 17px;
}

.field-type-field-collection .form-item .field-multiple-table tr td {
	padding-bottom: 20px;
}

/*.field-type-field-collection .field-add-more-submit {
	
}*/

.field-type-link-field .link-field-title .description, .field-type-link-field .link-field-url .description {
	margin: 10px 0 0 10px;
	display: block;
    padding-bottom: 5px;
    color: #666666;
    font-size: 11px;
    line-height: 20px;
}

.field-type-link-field .form-type-link-field > .description {
	display: none;
}

.node-form .filter-wrapper {
	display: none;
}

.link-field-column .form-text {
	width: 100%;
}

.image-widget input[type=text] {
	display: none;
}

.view-id-firms.view-display-id-page_1 .view-header, .view-id-tiu.view-display-id-page_1 .view-header {
	margin-bottom: 20px;
}

.product-teaser-lk {
	position: relative;
}

.product-item .company-edit {
	margin-left: 0;
}

.product-item .btn.company-close-info {
	width: auto;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    margin-left: -50%;
    top: 40%;
    left: 50%;
    right: auto;
}

.product-item.company-close-item {
	position: relative;
}

.product-item.company-close-item::before {
    background-color: rgba(255, 255, 255, 0.7);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.field-widget-image-nice fieldset.form-wrapper, 
#hybridauth-additional-info-form fieldset.form-wrapper,
#user-profile-form fieldset.form-wrapper {
	border: none;
	margin: 0;
	padding: 0;
}

.field-widget-image-nice fieldset.form-wrapper legend,
.field-widget-image-nice fieldset.form-wrapper div.fieldset-wrapper .description,
#hybridauth-additional-info-form fieldset.form-wrapper .fieldset-description,
#hybridauth-additional-info-form fieldset.form-wrapper legend,
#user-profile-form fieldset.form-wrapper legend,
#user-profile-form fieldset.form-wrapper label,
#user-profile-form fieldset.form-wrapper .form-item-picture-delete {
	display: none;
}



.field-widget-image-nice .nice-imagefield-image .form-submit {
	left: 0;
    padding: 5px;
    font-size: 14px;
    line-height: 18px;
    min-width: auto;
    top: 50px;
}

.field-widget-image-nice .form-type-mfw-managed-file .form-submit,
.form-type-managed-file .image-widget-data .form-submit {
/* 	margin-top: 10px; */
}

.form-type-managed-file .image-widget-data .file-size {
	clear: both;
}

.map-contacts-w .geofield-ymap {
	max-width: 100%;
}

.link-field-subrow .link-field-column {
	min-width: 310px;
	max-width: 310px;
	margin: 0 0 10px;
}

.link-field-subrow {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form-actions #edit-delete {
	margin-left: 20px;
}

.dropbox-remove a {
	padding: 5px 30px;
	background-color: #333333;
	display: inline-block;
	vertical-align: middle;
	min-width: 128px;
	margin: 0;
	font: normal normal 14px/24px "NEXTART_Bold", Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	border-radius: 17px;
}

.stars-rating-full .fivestar-static-item .fivestar-summary {
	display: block;
	
}

.stars-rating-full .fivestar-static-item .fivestar-default,
.stars-rating-full .fivestar-static-item .description {
	display: inline-block;
	vertical-align: top;
}

#hybridauth-additional-info-form .description, 
#user-profile-form .form-group .description,
#user-register-form .form-type-textfield .description, #user-register-form .form-type-emailfield .description,
div.password-confirm,
#user-login .description,
.field-name-field-contacts .description,
.field-name-field-option .description,
#product-node-form .field-name-field-firm .description,
#product-node-form .field-name-field-price .description,
#product-node-form .field-name-field-rubric-tiu .description {
    display: block;
    padding-bottom: 5px;
    color: #666666;
    font-size: 11px;
    line-height: 20px;
}

#user-profile-form fieldset.form-wrapper .user-picture {
	margin-bottom: 20px;
}

#user-register-form .form-actions, #user-register-form .enter-check {
	display: inline-block;
}

#user-register-form .enter-check {
	max-width: 60%;
}

.password-suggestions, .password-strength {
	display: none !important;
}

div.password-confirm {
	margin: 0;
}

button.mfp-close {
	overflow: hidden;
	width: 16px !important;
	top: 14px !important;
    right: 14px !important;
}

.mfp-figure button.mfp-close {
/* 	top: 50px !important; */
}

.mobile-share .ya-share2 {
	width: 100%;
	padding-top: 31px;
}

.mobile-share .ya-share2__list {
	width: 100%;
}

.mobile-share .ya-share2__list_direction_horizontal > .ya-share2__item {
    width: 12.5%;
    margin: 0;
    text-align: center;
}

.mobile-share .ya-share2__container_size_m .ya-share2__icon {
    height: 40px;
    width: 40px;
	border-radius: none;
}

.mobile-share .ya-share2__item_service_collections {
	background: #eb1c00;
}

.mobile-share .ya-share2__item_service_vkontakte {
	background: #48729e;
}

.mobile-share .ya-share2__item_service_facebook {
	background: #3b5998;
}

.mobile-share .ya-share2__item_service_odnoklassniki {
	background: #eb722e;
}

.mobile-share .ya-share2__item_service_moimir {
	background: #168de2;
}

.mobile-share .ya-share2__item_service_viber {
	background: #7b519d;
}

.mobile-share .ya-share2__item_service_whatsapp {
	background: #65bc54;
}

.mobile-share .ya-share2__item_service_telegram {
	background: #64a9dc;
}

.middle-mobile .c-main-share {
	display: none;
}

.wrapper-mobile {
/* 	padding-top: 163px; */
	position: relative;
}

.wrapper-mobile .header-mobile {
	/*position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 100;*/
}

.mobile-share {
/* 	padding: 15px 0; */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.webform-client-form .form-actions, #faq-node-form .form-actions {
	display: inline-block;
}

#webform-client-form-14298 .form-ruls,  #faq-node-form .form-ruls {
	max-width: 400px;
}

input.form-checkbox {
	width: auto;
	height: auto;
}

div.error {
	background-image: none;
}

div.messages {
	padding: 10px;
	background-image: none !important;
}

.profile .user-picture {
    float: left;
    padding: 0 1em 1em 0;
    background: #fff;
}

.block-fixed {
	position: fixed;
	top: 20px;
	max-width: 350px;
	z-index: 1;
}

#user-login .form-actions {
	display: inline-block;
}

#user-register-form .form-ruls {
	max-width: 380px;
}

.image-widget.form-managed-file .image-widget-data {
	width: 100%;
}

.image-widget.form-managed-file .image-widget-data input[type=submit],
.hierarchical-select-wrapper .hierarchical-select .add-to-dropbox,
.field-type-field-collection .field-add-more-submit {
/* 	margin-top: 0; */
	min-width: 165px;
}

.aside-light-bl-wrapp ins {
	max-width: 100%;
}

.selects .jcf-select, .field-name-field-option .jcf-select, .field-name-field-rubric-tiu .jcf-select { 
	width: 100%;
	max-width: 100%;
	min-width: auto;
	margin-bottom: 10px;
}

.field-name-field-firm input, .field-name-field-price {
	margin-bottom: 10px;
}

.field-name-field-option .jcf-select {
	margin-bottom: 0;
}

.dropbox-selected-item {
	font-weight: normal;
}

.form-type-geofield-ymap .geofield-ymap {
	margin: 10px 0 12px;
}

.view-undeground ul li ul {
	margin-top: 0;
	margin-left: 20px;
}

.view-id-firms.view-display-id-page_2 .view-grouping-header {
	font-size: 24px;
/* 	font-weight: bold; */
}

.view-id-firms.view-display-id-page_2 .view-grouping-content h3 {
	font-size: 20px;
	margin-bottom: 0;
	font-weight: normal;
	font-family: Arial;
	padding: 10px 0 10px 20px;
}

.view-id-firms.view-display-id-page_2 .view-grouping-content > div {
	padding-left: 30px;
}

.view-id-firms.view-display-id-page_2 .view-grouping-content {
	padding-bottom: 20px;
}

.user-button {
	padding: 20px 0;
}

.user-button a {
/* 	margin-right: 20px; */
}

.user-page-content .user-tabs .user-tab {
	display: none;
}

.user-page-content .user-tabs .user-tab:first-child {
	display: block;
}

#simplenews-confirm-removal-form #edit-cancel {
	margin-left: 20px;
}

.review-item-inner .site-h5-tt a {
	text-decoration: none;
}

.review-item-inner .site-h5-tt a:hover {
	text-decoration: underline;
}

.btn-tab {
	background: none;
	color: #000;
	border-radius: 0;
/* 	padding: 8px 0; */
}

.btn-tab.active, .btn-tab:hover {
	background: none;
	color: #000;
	border-radius: 0;
}

.btn-tab.active:hover {
	border-bottom: 2px solid #E65C00;
}

.icon-msg {
    background-image: url("/sites/all/themes/localvet/img/sprite.png");
    background-position: -34px -118px;
    height: 28px;
    width: 28px;
}

.view-faq .views-row {
	margin-bottom: 20px;
}

.view-faq .view-content {
	padding-top: 30px;
}

.view-faq.view-display-id-block_1 .view-content,
.view-faq.view-display-id-block_2 .view-content,
.view-faq.view-display-id-block_3 .view-content {
	padding-top: 0px;
}

.article-teaser .company-close-info {
	width: auto;
	opacity: 0.8;
	top: 50%;
	margin-top: -21px;
	line-height: 22px;
	margin-left: -99px;
}

.node-faq-full .owl-slider-thumb-wrapp {
	max-width: 100%;
}

.node-faq-full .owl-slider-thumb-wrapp .owl-slider-main img {
	width: 100%;
	height: auto;
}

.user-profile-content {
	padding-left: 102px;
}

#user-profile-form fieldset.form-wrapper #edit-newsletters label {
	display: inline-block;
}


#firms-map {
	height: 400px;
}

.c-main-map {
	width: calc(100% - 162px);
}

.article-inner-info table, .article-inner-info table tbody {
	border: 0;
}

.article-inner-info table p {
	margin: 0;
}

.article-inner-info table tr, .article-inner-info table td {
	border-top: 0;
	border-bottom: 0;
}

.article-inner-info table tr td:last-child {
	border-right: 0;
}

.menu-drop-down.active-trail > ul {
	display: block;
}

ul li.expanded {
    list-style-image: none;
    list-style-type: none;
}

.table-scroll-wrap {
	overflow-x: scroll;
}

.table-scroll-wrap table p {
	margin: 0;
}

.table-scroll-wrap table tbody {
	border: 0;
}

@media only screen and (min-width: 1170px) {
	.field-widget-image-nice fieldset.form-wrapper .form-type-mfw-managed-file {
		position: relative;
		padding-right: 175px;
	}
	
	.field-type-image .form-submit, .image-widget.form-managed-file .image-widget-data input[type=submit] {
		position: absolute;
		right: 0;
		margin: 0;
		top: 0;
	}
	
	.selects .jcf-select {
		min-width: 310px;
		max-width: 310px;
		margin: 0 0 10px;
	}
	
	.logo {
		max-width: 400px;
	}
	
}

@media only screen and (min-width: 768px) {
	.comment-form .form-type-fivestar label {
		font-size: 24px;
	}
	
	.dropbox-remove a {
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.view-display-id-attachment_1 div.geofield-ymap {
		height: 250px;
	}
	
	.c-main-map div.geofield-ymap {
		max-width: 100%;
	}
	
	.prod-prov-map div.geofield-ymap {
		width: 100% !important;
	}
	
	.link-field-subrow {
		display: block;
	}
	
	.link-field-subrow .link-field-column {
		width: 100%;
		max-width: 100%;
		min-width: auto;
	}
	
	.form-actions #edit-delete {
		margin-top: 20px;
		margin-left: 0;
	}
	
	.selects .jcf-select { 
		width: 100%;
		max-width: 100%;
		min-width: auto;
		margin-bottom: 10px;
	}
	
	.c-main-map {
		width: 100%;
	}
}