@charset "UTF-8";
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
  overflow: visible;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

/* ------------------- Fonts */
@font-face {
  font-family: 'NEXTART_Bold';
  src: url("../fonts/NEXTART_Bold.eot");
  src: url("../fonts/NEXTART_Bold.eot") format("embedded-opentype"), url("../fonts/NEXTART_Bold.woff2") format("woff2"), url("../fonts/NEXTART_Bold.woff") format("woff"), url("../fonts/NEXTART_Bold.ttf") format("truetype"), url("../fonts/NEXTART_Bold.svg#NEXTART_Bold") format("svg");
}

@font-face {
  font-family: 'georgia';
  src: url("../fonts/georgia.eot");
  src: url("../fonts/georgia.eot") format("embedded-opentype"), url("../fonts/georgia.woff2") format("woff2"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg#georgia") format("svg");
}

/* ------------------- Typography */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font: 16px Arial, sans-serif;
  line-height: 24px;
  color: #000;
  background: url(../img/body-ptrn.png) 50% 50% repeat;
}

h1, .site-h1-tt, h2, .site-h2-tt, h3, .site-h3-tt, h4, .site-h4-tt, h5, .site-h5-tt, h6, .site-h6-tt {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  color: #000;
}

h1, .site-h1-tt {
  font-size: 30px;
}

h2, .site-h2-tt {
  font-size: 20px;
}

h3, .site-h3-tt {
  font-size: 20px;
}

h4, .site-h4-tt {
  font-size: 20px;
}

h5, .site-h5-tt {
  font-size: 16px;
}

h6, .site-h6-tt {
  font-size: 14px;
}

.mobile-lg-size-tt {
  font-size: 30px;
}

.tt-light {
  color: #cccccc;
}

.line-tt {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.line-tt:before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff6600;
  height: 2px;
  width: 100px;
}

ul, ol {
  margin: 20px 0;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 10px 0;
  padding: 0;
}

p {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  color: #ff6600;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #e65c00;
}

.art-content-list {
  margin-bottom: 0;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  list-style-position: outside;
  padding-left: 25px;
}

.art-content-list li a {
  text-decoration: none;
  color: #000;
}

.art-content-list li a:hover {
  color: #e65c00;
}

.art-content-list li ul, .art-content-list li ol {
  margin: 15px 0;
}

.art-content-list li li {
  font-size: 12px;
  list-style-type: none;
  line-height: 18px;
}

.art-content-list li li a {
  color: #999999;
}

.article-inner-info h3 {
  font-size: 18px;
}

.article-inner-info h4 {
  font-size: 16px;
}

.article-inner-info ul {
  list-style-type: none;
}

.article-inner-info ul > li {
  padding-left: 35px;
  margin: 15px 0;
  background: url(../img/list-bg.png) 0 8px no-repeat;
}

.article-inner-info ul > li ol, .article-inner-info ul > li ul {
  margin: 15px 0;
}

.article-inner-info figure {
  margin: 30px 0;
  display: block;
  text-align: center;
}

.article-inner-info figcaption {
  display: block;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  margin: 20px 0;
  text-align: center;
  color: #999999;
}

.article-inner-info blockquote {
  margin: 30px 0;
  background-color: rgba(204, 204, 204, 0.2);
  border-left: 2px solid #ff6600;
  padding: 20px 10px 20px 30px;
  font-family: "georgia", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  clear: both;
}

.article-inner-info .article-list-links {
  margin: 25px 0 0;
}

.article-inner-info .article-list-links li {
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-position: 0 10px;
}

.article-inner-info .article-list-links li:last-child {
  margin-bottom: 5px;
}

.article-inner-info .article-list-links li a {
  color: #000000;
  text-decoration: none;
}

.article-inner-info .article-list-links li a:hover {
  color: #ff6600;
}

.article-inner-info table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
/*   max-width: 400px; */
}

.article-inner-info table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.article-inner-info table td {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  border-left: 5px solid #fff;
}

.article-inner-info table td:first-child {
  font-weight: 700;
  border: none;
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  h1, .site-h1-tt {
    font-size: 36px;
  }
  h2, .site-h2-tt {
    font-size: 20px;
  }
  h3, .site-h3-tt {
    font-size: 20px;
  }
  h3.s-tablet-tt-lg, .site-h3-tt.s-tablet-tt-lg {
    font-size: 30px;
  }
  h4, .site-h4-tt {
    font-size: 20px;
  }
  h4.s-tablet-tt-lg, .site-h4-tt.s-tablet-tt-lg {
    font-size: 24px;
  }
  h5, .site-h5-tt {
    font-size: 16px;
  }
  h6, .site-h6-tt {
    font-size: 14px;
  }
  .article-inner-info .inner-dark-bl .site-h3-tt {
    font-size: 30px;
  }
  .article-inner-info h2 {
    font-size: 30px;
    margin-top: 30px;
  }
  .article-inner-info ul li li {
    margin: 20px 0;
    padding-left: 40px;
  }
  .article-inner-info blockquote {
    font-size: 24px;
    line-height: 30px;
    padding: 30px 35px;
    border-left-width: 4px;
    margin: 30px 0 35px;
  }
  .article-inner-info .article-list-links li:last-child {
    margin-bottom: 0;
  }
  .art-content-list > li:last-child {
    margin-bottom: 0;
  }
  /* end media min width 768 pixels */
}

/* Min width 1170 pixels */
@media only screen and (min-width: 1170px) {
  h1, .site-h1-tt {
    font-size: 48px;
  }
  h1.s-tablet-tt-md, .site-h1-tt.s-tablet-tt-md {
    font-size: 36px;
  }
  h2, .site-h2-tt {
    font-size: 36px;
  }
  h3, .site-h3-tt {
    font-size: 30px;
  }
  h3.s-tablet-tt-lg, .site-h3-tt.s-tablet-tt-lg {
    font-size: 30px;
  }
  h4, .site-h4-tt {
    font-size: 24px;
  }
  h5, .site-h5-tt {
    font-size: 20px;
  }
  h5.s-tablet-tt-md, .site-h5-tt.s-tablet-tt-md {
    font-size: 16px;
  }
  h6, .site-h6-tt {
    font-size: 14px;
  }
  .article-inner-info figure {
    margin: 50px 0;
  }
  .article-inner-info table td {
/*     min-width: 142px; */
  }
  .artilce-dark-aside {
    float: left;
    width: 340px;
    margin: 0 20px 10px 0;
  }
  /* end media min width 1170 pixels */
}

/* ------------------- Icons */
.icon {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}

.icon-arrow-bt-dark {
  background-image: url(../img/sprite.png);
  background-position: -191px -208px;
  width: 13px;
  height: 8px;
}

.icon-arrow-bt-min {
  background-image: url(../img/sprite.png);
  background-position: -33px -232px;
  width: 9px;
  height: 13px;
}

.icon-arrow-bt {
  background-image: url(../img/sprite.png);
  background-position: -206px -208px;
  width: 13px;
  height: 8px;
}

.icon-arrow-lt-dark {
  background-image: url(../img/sprite.png);
  background-position: -11px -232px;
  width: 9px;
  height: 14px;
}

.icon-arrow-rt-dark {
  background-image: url(../img/sprite.png);
  background-position: 0px -232px;
  width: 9px;
  height: 14px;
}

.icon-arrow-rt {
  background-image: url(../img/sprite.png);
  background-position: -110px -76px;
  width: 8px;
  height: 14px;
}

.icon-arrow-tp-min {
  background-image: url(../img/sprite.png);
  background-position: -22px -232px;
  width: 9px;
  height: 13px;
}

.icon-arrow-tp-w {
  background-image: url(../img/sprite.png);
  background-position: -223px -113px;
  width: 19px;
  height: 24px;
}

.icon-attention {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 58px;
  height: 58px;
}

.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: -198px -140px;
  width: 22px;
  height: 26px;
}

.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -245px 0px;
  width: 16px;
  height: 16px;
}

.icon-dialog {
  background-image: url(../img/sprite.png);
  background-position: -34px -120px;
  width: 28px;
  height: 25px;
}

.icon-house-img {
  background-image: url(../img/sprite.png);
  background-position: -60px -60px;
  width: 48px;
  height: 49px;
}

.icon-house-min {
  background-image: url(../img/sprite.png);
  background-position: -91px -120px;
  width: 24px;
  height: 24px;
}

.icon-house {
  background-image: url(../img/sprite.png);
  background-position: 0px -120px;
  width: 32px;
  height: 32px;
}

.icon-key {
  background-image: url(../img/sprite.png);
  background-position: 0px -154px;
  width: 26px;
  height: 26px;
}

.icon-loc-pin {
  background-image: url(../img/sprite.png);
  background-position: -223px -84px;
  width: 18px;
  height: 27px;
}

.icon-lock {
  background-image: url(../img/sprite.png);
  background-position: -223px 0px;
  width: 20px;
  height: 26px;
}

.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -94px -208px;
  width: 18px;
  height: 18px;
}

.icon-minus {
  background-image: url(../img/sprite.png);
  background-position: -170px -112px;
  width: 26px;
  height: 26px;
}

.icon-page {
  background-image: url(../img/sprite.png);
  background-position: -52px -182px;
  width: 24px;
  height: 22px;
}

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -223px -187px;
  width: 20px;
  height: 18px;
}

.icon-pin-p {
  background-image: url(../img/sprite.png);
  background-position: -170px -28px;
  width: 26px;
  height: 26px;
}

.icon-plus {
  background-image: url(../img/sprite.png);
  background-position: -170px -84px;
  width: 26px;
  height: 26px;
}

.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -112px -154px;
  width: 26px;
  height: 26px;
}

.icon-soc-fb {
  background-image: url(../img/sprite.png);
  background-position: -178px -182px;
  width: 22px;
  height: 22px;
}

.icon-soc-insta {
  background-image: url(../img/sprite.png);
  background-position: -48px -208px;
  width: 22px;
  height: 22px;
}

.icon-soc-ok {
  background-image: url(../img/sprite.png);
  background-position: -245px -40px;
  width: 12px;
  height: 20px;
}

.icon-soc-tw {
  background-image: url(../img/sprite.png);
  background-position: -120px -102px;
  width: 18px;
  height: 15px;
}

.icon-soc-vk {
  background-image: url(../img/sprite.png);
  background-position: -154px -208px;
  width: 20px;
  height: 12px;
}

.icon-star-empty {
  background-image: url(../img/sprite.png);
  background-position: -245px -148px;
  width: 15px;
  height: 14px;
}

.icon-star-fill {
  background-image: url(../img/sprite.png);
  background-position: -245px -196px;
  width: 15px;
  height: 14px;
}

.icon-star-half {
  background-image: url(../img/sprite.png);
  background-position: -245px -84px;
  width: 15px;
  height: 14px;
}

.icon-time {
  background-image: url(../img/sprite.png);
  background-position: -202px -182px;
  width: 18px;
  height: 18px;
}

.icon-wallet {
  background-image: url(../img/sprite.png);
  background-position: 0px -182px;
  width: 24px;
  height: 24px;
}

.icon-web {
  background-image: url(../img/sprite.png);
  background-position: -114px -208px;
  width: 18px;
  height: 18px;
}

.icons8-minus-64 {
  background-image: url(../img/sprite.png);
  background-position: -168px -154px;
  width: 26px;
  height: 26px;
}

.icon-user {
  background-image: url(../img/sprite.png);
  background-position: -223px -163px;
  width: 20px;
  height: 22px;
}

.icon-logout {
  background-image: url(../img/sprite.png);
  background-position: -198px -56px;
  width: 23px;
  height: 26px;
}

/*  ------------------- Page structure */
.clear {
  clear: both;
}

.group:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

#wrapper {
  position: relative;
}

.section-st {
  padding: 20px 0;
}

.container {
  padding: 1px 15px;
}

.hidden-mobile,
.hidden-devices {
  display: none;
}

.inner-wrapper {
  padding: 20px 0;
}

.inner-light-bl-wrapp {
  margin: 0 0 20px;
}

.inner-light-bl-wrapp .site-h1-tt {
  margin-bottom: 30px;
}

.light-bl {
  padding: 25px;
  background-color: #fff;
}

/*  ------------------- Bread crumbs */
.bread-crumbs {
  padding: 0;
  margin: 0 0 15px;
  list-style-type: none;
}

.bread-crumbs li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  color: #333;
}

.bread-crumbs li:before {
  content: '/ ';
}

.bread-crumbs li:first-child:before {
  display: none;
}

.bread-crumbs li a {
  color: #333;
  text-decoration: none;
}

.bread-crumbs li a:hover {
  text-decoration: underline;
}

/*  ------------------- Pagination */
.pagination {
  list-style-type: none;
  margin: 30px 0 45px -10px;
  overflow: hidden;
}

.pagination li {
  float: left;
  margin: 0 0 0 10px;
}

.pagination .active a {
  background-color: #ff6600;
  color: #fff;
}

.pagination .active a:hover {
  background-color: #ff6600;
}

.pagination a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

/* ------------------- Header */
.header {
  position: relative;
  background-color: #fff;
  padding: 31px 0;
}

.head-menu {
  float: left;
  margin-top: 5px;
  position: relative;
  height: 17px;
  width: 30px;
}

.logo {
  width: 144px;
  margin: 0 auto;
}

.logo a {
  border-radius: 5px;
  background-color: #ff5b00;
  display: block;
  outline: none;
  overflow: hidden;
}

.logo a img {
  vertical-align: top;
}

.head-search {
  position: relative;
  float: right;
}

.head-search .icon {
  cursor: pointer;
}

.open .h-search-form {
  display: block;
}

.h-search-field {
  height: 48px;
  background-color: #ededed;
  font-size: 20px;
  color: #000;
  padding: 0 45px 0 17px;
  border-radius: 0;
}

.h-search-form {
  position: absolute;
  right: 0;
  top: -11px;
  width: 240px;
  z-index: 2;
  display: none;
}

.h-search-form button {
  background-image: url(../img/sprite.png);
  background-position: -112px -154px;
  width: 26px;
  height: 26px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 11px;
  border: none;
  background-color: transparent;
}

/* Min width 375 pixels */
@media only screen and (min-width: 375px) {
  .h-search-form {
    width: 300px;
  }
  /* end media min width 375 pixels */
}

/* Min width 414 pixels */
@media only screen and (min-width: 414px) {
  .h-search-form {
    width: 335px;
  }
  /* end media min width 414 pixels */
}

/* ------------------- Footer */
.footer {
  position: relative;
  background-color: #151515;
  padding: 38px 0;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  text-align: center;
}

.footer .container {
  overflow: hidden;
  padding: 1px 35px;
  display: flex;
  flex-direction: column;
}

.footer-share {
  order: 1;
}

.footer-about {
  order: 2;
}

.copy {
  display: block;
  margin-top: 30px;
}

.footer-nav-item {
  margin-bottom: 35px;
}

.footer-list-wrapp {
  margin-bottom: 20px;
}

.footer-tt {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-list-tt {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 12px;
  color: #999999;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-list li {
  margin: 7px 0;
  font-size: 14px;
  line-height: 20px;
}

.footer-list li a {
  color: #fff;
  text-decoration: none;
}

.footer-list li a:hover {
  text-decoration: underline;
}

.footer-soc {
  margin: 30px 0;
}

.footer-soc a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}

.footer-soc a:hover {
  opacity: 0.9;
}

.footer-share {
  margin-bottom: 15px;
}

.footer-info p {
  margin: 0 0 15px;
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  /*  ------------------- Page structure */
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
  .inner-light-bl-wrapp {
    margin-bottom: 30px;
  }
  .hidden-mobile {
    display: block;
  }
  .header {
    padding: 25px 0;
  }
  .head-dialog {
    float: right;
    margin: 0 0 0 28px;
  }
  .icon-dialog-h {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ff5100;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: "NEXTART_Bold", Arial, sans-serif;
  }
  .h-dialog-text {
    display: inline-block;
    vertical-align: middle;
    width: 98px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 12px;
    color: #000;
    text-decoration: none;
  }
  .head-search .icon {
    display: none;
  }
  .h-search-form {
    display: block;
    position: relative;
    top: 0;
    width: 275px;
  }
  .h-search-form button {
    right: 16px;
  }
  .h-search-field {
    padding-right: 60px;
  }
  .logo {
    width: 181px;
    border-radius: 10px;
    float: left;
    margin: 6px 0 0 18px;
  }
  .head-menu {
    margin-top: 13px;
  }
  .pagination {
    margin-top: 10px;
  }
  .footer {
    text-align: left;
  }
  .footer .container {
    padding: 1px 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-nav {
    float: left;
    width: 530px;
    margin-left: -20px;
  }
  .footer-nav-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 150px;
    margin-bottom: 10px;
  }
  .footer-tt {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer-list li {
    font-size: 12px;
  }
  .footer-soc {
    margin-top: -2px;
  }
  .footer-soc a {
    margin: 0 0 0 21px;
  }
  .footer-soc a:first-child {
    margin-left: 0;
  }
  /* end media min width 768 pixels */
}

/* Min width 1170 pixels */
@media only screen and (min-width: 1170px) {
  /*  ------------------- Page structure */
  .container {
    max-width: 1140px;
    padding: 1px 15px;
  }
  .hidden-devices {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
  .head-dialog {
    margin-left: 38px;
  }
  .h-search-form {
    width: 446px;
  }
  .logo {
    width: auto;
    margin: 0 0 0 25px;
  }
  .logo a {
    display: inline-block;
    vertical-align: middle;
/*     width: 260px; */
    margin-right: 18px;
  }
  .logo-slogan {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
  }
  .logo-slogan span {
    display: block;
  }
  .h-search-field {
    font-size: 24px;
    padding-left: 18px;
  }
  .head-menu {
    margin-top: 15px;
  }
  .pagination {
    margin: 40px 0 40px -10px;
  }
  .footer {
    padding: 38px 0 30px;
  }
  .footer .container {
    display: block;
  }
  .footer-about {
    float: left;
    width: 280px;
  }
  .footer-logo {
    width: 160px;
    margin-bottom: 25px;
  }
  .footer-logo a {
    display: block;
    border-radius: 5px;
    background-color: #ff5b00;
    display: block;
    outline: none;
    overflow: hidden;
  }
  .footer-logo a img {
    vertical-align: top;
  }
  .footer-nav {
    float: left;
    margin-left: 25px;
    width: 580px;
  }
  .footer-share {
    float: right;
  }
  .copy {
    margin-top: 62px;
  }
  .footer-list li {
    font-size: 14px;
    margin: 5px 0;
  }
  .footer-list-wrapp {
    margin-bottom: 15px;
  }
  .footer-list-wrapp:last-child {
    margin-bottom: 0;
  }
  .footer-nav-item {
    width: 160px;
  }
  .footer-nav-item:first-child {
    margin-right: 30px;
  }
  .bread-crumbs {
    margin-bottom: 5px;
  }
  /* end media min width 1170 pixels */
}

/* Min width 1366 pixels */
@media only screen and (min-width: 1366px) {
  #wrapper,
  .footer {
    padding-left: 215px;
  }
  .menu-wrapper-fixed {
    left: 0;
  }
  .head-menu {
    width: 1px;
    height: 1px;
  }
  .logo {
    margin-left: 0;
  }
  .head-dialog {
    margin-left: 65px;
  }
  /* end media min width 1366 pixels */
}

/* Min width 1700 pixels */
@media only screen and (min-width: 1700px) {
  #wrapper,
  .footer {
    padding-left: 0;
  }
  /* end media min width 1700 pixels */
}

/* ------------------- Button styles */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 128px;
  margin: 0;
  padding: 5px 15px;
  border: none;
  border-radius: 0;
  font: normal normal 14px/24px "NEXTART_Bold", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #ff6600;
  border-radius: 17px;
}

.btn:hover {
  background-color: #e65c00;
  color: #fff;
}

.btn.btn-dark {
  background-color: #333333;
}

.btn.btn-dark:hover {
  background-color: #262626;
}

.btn.btn-light {
  color: #666666;
  background-color: rgba(204, 204, 204, 0.3);
}

.btn.btn-light:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

.btn.btn-max {
  width: 100%;
  min-width: 100px;
}

.btn.btn-min {
  line-height: 20px;
  font-size: 12px;
  border-radius: 15px;
}

.btn.btn-sm {
  line-height: 21px;
  padding: 2px 12px;
  font-size: 11px;
}

.btn.btn-md {
  padding: 8px 28px;
  font-size: 16px;
  border-radius: 20px;
}

.btn.btn-min-md {
  min-width: 165px;
}

.btn-border {
  background-color: #fff;
  color: #999999;
  border: 1px solid rgba(195, 194, 194, 0.8);
}

.btn-border.btn-light {
  background-color: #fff;
  color: #999999;
  border: 1px solid rgba(195, 194, 194, 0.8);
}

.btn-border.btn-light:hover {
  opacity: 0.9;
  background-color: #fff;
}

.btn-border.btn-min {
  font-size: 10px;
  line-height: 22px;
  padding: 0 12px;
}

.add-wrapp .btn.btn-dark {
  padding: 5px 30px;
}

/* ------------------- Form styles */
.st-form {
  margin: 20px 0;
}

.form-group {
  margin: 0 0 20px;
}

.form-group-min {
  margin: 0 0 10px;
}

.form-label-tt {
  display: block;
  margin: 10px 0;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group-inline .form-label-tt {
  min-width: 120px;
  max-width: 120px;
  line-height: 20px;
  padding: 10px 0;
  margin: 0;
}

.form-t-min-info {
  display: block;
  padding-bottom: 5px;
  color: #666666;
  font-size: 11px;
  line-height: 20px;
}

.form-t-min-info.f-t-min-input {
  margin: 10px 0 0 10px;
}

.add-form-field {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 7px 15px 12px;
  border-radius: 17px;
  min-height: 34px;
}

.add-field-item {
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0;
}

.add-field-item:before {
  content: '›';
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.map-contacts-w {
  margin: 10px 0 12px;
}

.placeholder {
  color: #333;
}

input,
textarea {
  border-radius: 17px;
  padding: 0 15px;
  height: 34px;
  position: relative;
  outline: none;
  font: 16px Arial, sans-serif;
  color: #333;
  background-color: #fff;
  border: none;
}

input:-moz-placeholder, input::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder {
  color: #333;
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

input:focus:-moz-placeholder, input:focus::-moz-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

textarea {
  height: 120px;
  width: 100%;
  vertical-align: top;
  padding: 12px 15px;
  resize: none;
  border-radius: 10px;
}

.form-group-dark input, .form-group-dark textarea {
  background-color: #ededed;
}

.form-group-dark .jcf-file .jcf-fake-input {
  background-color: #ededed;
}

.field-not-radius input, .field-not-radius textarea {
  border-radius: 0;
}

.aside-check-question {
  margin-bottom: 5px;
}

.aside-check-question .form-group {
  margin: 25px 0;
}

.aside-check-question input {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
}

.aside-check-question label {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}

.aside-check-question label span {
  display: block;
}

.aside-check-question .btn {
  max-width: 180px;
  width: 100%;
}

.form-add-bottom {
  padding: 10px;
}

.form-add-att {
  margin-bottom: 25px;
  overflow: hidden;
}

.form-add-att .icon {
  float: left;
  margin: 0 15px 10px 0;
}

.form-add-att-info {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.from-group-file .btn {
  margin-top: 10px;
}

.form-add-head {
  padding: 10px 0;
  margin-bottom: 20px;
}

.upload-tt {
  display: block;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
}

.form-search-btns {
  margin: 10px 0 0;
}

.form-search-btns .btn {
  margin: 10px 16px 10px 0;
}

.btn-reset {
  border: none;
  background: none;
  padding: 0;
  color: #666666;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}

.btn-reset:hover {
  text-decoration: none;
}

/* file */
.jcf-file {
  display: block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.jcf-file .jcf-real-element {
  position: absolute;
  font-size: 34px;
  height: 34px;
  margin: 0;
  right: 0;
  top: 0;
}

.jcf-file .jcf-fake-input {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 130px 0 15px;
  font-size: 16px;
  line-height: 34px;
  height: 34px;
  width: 100%;
  color: #333333;
  background-color: #fff;
  border-radius: 17px;
}

.jcf-file .jcf-upload-button {
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  height: 34px;
  width: 128px;
  text-align: center;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 34px;
  background-color: #333333;
  border-radius: 17px;
  color: #fff;
}

/* select */
.select-max-wrapp .jcf-select {
  width: 100%;
}

.jcf-select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: none;
  background: #fff;
  min-width: 150px;
  max-width: 100%;
  height: 34px;
  border-radius: 17px;
}

.jcf-select.jcf-drop-active {
  border-radius: 17px 17px 0 0;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 16px;
  line-height: 34px;
  margin: 0 50px 0 15px;
}

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 40px;
  bottom: 0;
  right: 0;
  top: 0;
}

.jcf-select .jcf-select-opener:before {
  content: ' ';
  position: absolute;
  right: 13px;
  top: 14px;
  background-image: url(../img/sprite.png);
  background-position: -191px -208px;
  width: 13px;
  height: 8px;
}

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
  border-radius: 0 0 17px 17px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.3);
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
  display: inline-block;
  padding-top: 2px;
  content: '...';
}

.jcf-select.jcf-select-img-options img {
  width: 30px;
  margin-right: 5px;
}

.jcf-select-drop.jcf-select-img-options img {
  width: 30px;
  margin-right: 5px;
}

.jcf-select-drop .jcf-select-drop-content {
  border: none;
}

.jcf-select-drop.jcf-compact-multiple .jcf-hover {
  background: none;
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
  display: inline-block;
  content: '';
  height: 4px;
  width: 8px;
  margin: -7px 5px 0 -3px;
  border: 3px solid #777;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 24px;
  font-size: 16px;
  width: 100%;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
  margin: 0;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 5px 15px;
  color: #000;
  min-height: 14px;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 15px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

.jcf-select-drop .jcf-option-hideme {
  display: none;
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  .add-form-field {
    margin-bottom: 0;
  }
  .add-form-field {
    position: relative;
    padding: 0 140px 0 15px;
  }
  .add-form-field .btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .add-field-item {
    display: inline-block;
    vertical-align: middle;
    margin: 7px 2px 7px 0;
  }
  .add-field-item:first-child:before {
    display: none;
  }
  /* end media min width 768 pixels */
}

/* Min width 1170 pixels */
@media only screen and (min-width: 1170px) {
  .aside-check-question input {
    vertical-align: middle;
  }
  .aside-check-question label {
    width: 250px;
    vertical-align: middle;
  }
  .aside-check-question label span {
    display: inline;
  }
  .form-group-half {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-group-half .form-group,
  .form-group-half .form-group-min {
    min-width: 310px;
    max-width: 310px;
  }
  .form-group-half .form-group-md {
    min-width: 450px;
    max-width: 450px;
  }
  .form-group-half .form-group-sm {
    min-width: 170px;
    max-width: 170px;
  }
  .form-group-half .form-group-sm-t {
    min-width: 160px;
    max-width: 160px;
  }
  .form-group-half .form-group-md-t {
    min-width: 292px;
    max-width: 292px;
  }
  .form-add-att-info {
    margin: 10px 0 0 78px;
    max-width: 440px;
  }
  .form-add-bottom {
    padding-bottom: 20px;
  }
  .form-add-head {
    padding: 25px 25px 20px;
  }
  .upload-info {
    padding-left: 15px;
  }
  .from-group-file {
    padding-right: 175px;
    position: relative;
  }
  .from-group-file .btn {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
  }
  .form-search-btns {
    margin: 0;
  }
  .form-search-btns .btn {
    margin-bottom: 5px;
  }
  /* end media min width 1170 pixels */
}

/* ------------------- Navigation */
.menu-icon-wrap {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
  z-index: 101;
}

.menu-icon {
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  padding: 7px 0;
}

.menu-icon span {
  display: block;
  height: 3px;
  background-color: #ff6600;
  position: relative;
}

.menu-icon span:before, .menu-icon span:after {
  content: ' ';
  position: absolute;
  left: 0;
  height: 3px;
  background-color: #ff6600;
  width: 100%;
}

.menu-icon span:before {
  top: -8px;
}

.menu-icon span:after {
  bottom: -8px;
}

.menu-wrapper-fixed {
  left: -214px;
  position: fixed;
  top: 0;
  transition: left 0.2s linear;
  z-index: 105;
  height: 100%;
  min-width: 214px;
  width: 214px;
}

.menu-open-wrapper {
  background-color: #242424;
  padding: 30px 27px 20px 23px;
  height: 100%;
  overflow: auto;
}

.menu {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

ul.menu > li {
  margin: 0 0 25px;
  padding: 0;
  list-style-type: none;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

ul.menu > li:last-child {
  margin-bottom: 0;
}

ul.menu > li > a {
  color: #fff;
  text-decoration: none;
}

ul.menu > li > a:hover {
  color: #ff6600;
}

/* ------------------- menu drop down */
.menu-dd-open-link {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-dd-open-link:hover {
  color: #ff6600;
}

.menu-dd-open-link .icon {
  margin-left: 10px;
}

.menu-dd-open .icon {
  background-image: url(../img/sprite.png);
  background-position: -206px -208px;
  width: 13px;
  height: 8px;
}

.menu-drop-down > ul {
  display: none;
  margin: 15px 0 20px;
  padding: 0;
  list-style: none;
}

.menu-drop-down > ul > li {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px;
}

.menu-drop-down > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.menu-drop-down > ul > li > a:hover {
  color: #ff6600;
}

.menu-dd-open > ul {
  display: block;
}

.menu-dd-open .arrow-corner-bottom {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 0;
  height: 0;
  border-top: none;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-bottom-color: #fff;
  margin-left: 5px;
}

.arrow-corner-bottom {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-bottom: none;
  border-left: 6px solid transparent;
  border-top-color: #fff;
  margin-left: 5px;
}

/* ------------------- menu open */
.menu-mobile-open .menu-wrapper-fixed {
  left: 0;
}

.menu-mobile-open .menu-close {
  position: fixed;
  left: 214px;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background 0.2s linear, left 0.2s linear;
}

/* ------------------- menu open more */
.head-location {
  margin: -10px 0 25px;
}

.head-loc-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  text-decoration: none;
  line-height: 18px;
  border-bottom: 1px dotted #ff6600;
}

.head-loc-link:hover {
  border-color: transparent;
}

.nav-choise-wrapp {
  border-top: 2px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
  padding: 23px 0 30px;
}

.nav-choise-wrapp .btn {
  margin-top: 18px;
}

.h-aside-tt {
  display: block;
  margin-bottom: 22px;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.2);
}

.nav-ch-select {
  margin-bottom: 6px;
}

.h-nav-links {
  margin-bottom: 30px;
}

.h-nav-link-icon {
  position: relative;
  padding: 4px 0 4px 44px;
  margin: 25px 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

.h-nav-link-icon:hover {
  color: #ff6600;
}

.h-nav-link-icon .icon {
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -13px;
}

.h-nav-link-icon .icon-lock {
  left: 6px;
}

.h-nav-link-icon .icon-key {
  left: 3px;
}

.h-nav-link-icon .icon-logout {
  margin-top: -14px;
}

.icon-qw {
  width: 24px;
  height: 24px;
}

.icon-qw svg {
  width: 24px;
  height: 24px;
  margin-top: 2px;
}

.icon-qw svg {
  fill: #e65c00;
}

.h-nav-link-text {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.h-nav-link-btn {
  position: relative;
  display: block;
  margin-left: -23px;
  margin-right: -27px;
  margin-top: 30px;
  background-color: #ff6600;
  padding: 14px 10px 16px 65px;
  color: #fff;
  text-decoration: none;
}

.h-nav-link-btn:hover {
  background-color: #e65c00;
  color: #fff;
}

.h-nav-link-btn .icon-house {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}

/* Min width 1366 pixels */
@media only screen and (min-width: 1366px) {
  .menu-icon-wrap {
    display: none;
  }
  .menu-wrapper-fixed {
    left: 0;
  }
  /* end media min width 1366 pixels */
}

.mfp-wrap, .owl-carousel .owl-item, .owl-carousel .owl-video-play-icon {
  -webkit-backface-visibility: hidden;
}

.mfp-arrow, .owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.mfp-arrow:after, .mfp-arrow:before, .mfp-container:before, .mfp-figure:after {
  content: '';
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.mfp-bg, .mfp-wrap {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
}

.mfp-wrap {
  z-index: 1043;
  outline: 0 !important;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-close, .mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
  display: none;
}

button.mfp-arrow, button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

.mfp-figure:after, .mfp-iframe-scaler iframe {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial,Baskerville,monospace;
}

.mfp-close:focus, .mfp-close:hover {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-figure, img.mfp-img {
  line-height: 0;
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:focus, .mfp-arrow:hover {
  opacity: 1;
}

.mfp-arrow:after, .mfp-arrow:before {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-image-holder .mfp-content, img.mfp-img {
  max-width: 100%;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.mfp-figure:after, img.mfp-img {
  width: auto;
  height: auto;
  display: block;
}

img.mfp-img {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}

.mfp-figure:after {
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

/* ------------------- Plugins */
/* ------------------- magnific modal window */
.mfp-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.st-modal {
  position: relative;
  max-width: 730px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
}

button.mfp-close {
  top: 14px;
  right: 14px;
  text-indent: -9999px;
  background-image: url(../img/sprite.png);
  background-position: -245px 0px;
  width: 16px;
  height: 16px;
  opacity: 1;
}

button.mfp-close:active {
  top: 14px;
  right: 14px;
}

.modal-head {
  margin-bottom: 25px;
}

.modal-h-tt {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.modal-sity-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.modal-sity-list li {
  margin: 10px 0;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
}

.enter-check {
  display: block;
  margin: 10px 0 0;
}

.enter-check input {
  width: auto;
  height: auto;
  padding: 0;
  vertical-align: middle;
}

.enter-check label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.soc-enter-tt {
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.soc-enter-icon {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.soc-enter-icon a {
  display: block;
  position: relative;
  width: 31%;
  overflow: hidden;
  padding: 5px 20px;
  text-align: center;
}

.soc-enter-icon a:hover {
  opacity: 0.9;
}

.soc-e-vk {
  background-color: #2f76a4;
}

.soc-e-fb {
  background-color: #23599a;
}

.soc-e-tw {
  background-color: #00aef0;
}

.soc-enter-reg {
  text-align: center;
}

.soc-enter-reg a {
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.soc-enter-reg span {
  display: block;
  max-width: 220px;
  margin: 10px auto;
  font-size: 14px;
  line-height: 18px;
}

.modal-ruls {
  display: block;
  margin: 30px 0 5px;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.modal-ruls a {
  color: #999999;
}

/* ------------------- owl carousel */
.owl-carousel .owl-item img {
  width: auto;
  display: inline;
}

.owl-slider-thumb-wrapp {
  max-width: 360px;
  margin: 0 auto 40px;
}

.owl-slider-thumb-wrapp .owl-nav > div {
  border: 1px solid #000;
  width: 20px;
  height: 40px;
}

.owl-slider-main {
  margin-bottom: 15px;
}

.owl-slider-main .owl-item > div {
  padding: 20px;
  text-align: center;
}

.owl-slider-main .owl-item img {
  width: 100%;
}

.owl-thumbs {
  margin: 0;
  width: auto;
}

.owl-thumbs .owl-item > div {
  border: 4px solid #fff;
  padding: 5px;
  max-width: 80px;
  text-align: center;
  cursor: pointer;
}

.owl-thumbs .owl-item.current > div {
  border: 4px solid #ff6600;
}

/* Min width 480 pixels */
@media only screen and (min-width: 480px) {
  .enter-check {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 15px;
  }
  /* end media min width 480 pixels */
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  .st-modal {
    padding: 20px 25px 30px;
  }
  .modal-head .site-h2-tt {
    font-size: 30px;
  }
  .soc-enter-reg span {
    margin-bottom: 0;
  }
  .soc-enter-tt {
    margin-bottom: 25px;
  }
  /* end media min width 768 pixels */
}

/* Min width 1170 pixels */
@media only screen and (min-width: 1170px) {
  .owl-slider-thumb-wrapp {
    float: left;
    margin-bottom: 25px;
  }
  .modal-head .site-h2-tt {
    font-size: 36px;
  }
  .modal-sity-list li {
    width: 300px;
    font-size: 24px;
    line-height: 30px;
  }
  /* end media min width 1170 pixels */
}

/* ------------------- Main blocks */
.main-banner-wrapp,
.inner-banner-wrapp {
  margin: 10px 0 25px;
}

.inner-banner-wrapp a {
  position: relative;
}

.inner-banner-wrapp a:hover:before {
  background-color: rgba(0, 0, 0, 0.1);
}

.inner-banner-wrapp a:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.inner-banner-wrapp .m-banner-inner {
  z-index: 3;
}

.m-banner-lg {
  margin-bottom: 15px;
}

.m-banner-lg .m-banner-info {
  display: block;
}

.m-banner-st a,
.m-banner-lg a {
  display: block;
  position: relative;
  text-decoration: none;
}

.m-banner-st a:hover img,
.m-banner-lg a:hover img {
  opacity: 0.9;
}

.m-banner-st img,
.m-banner-lg img {
  width: 100%;
}

.m-banner-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 25px;
  color: #fff;
}

.m-banner-inner .site-h1-tt,
.m-banner-inner .site-h4-tt {
  margin-bottom: 0;
  color: #fff;
}

.m-banner-info {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
}

.company-inline-wrapp {
  margin: 30px 0 35px;
}

.company-inline-wrapp .conmpany-item {
  margin-bottom: 35px;
  border: none;
  padding-bottom: 0;
}

.company-inline-wrapp .company-adress {
  margin-bottom: 0;
}

.company-inline-wrapp .company-about .site-h6-tt {
  font-size: 14px;
}

.conmpany-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 23px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.conmpany-item:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.conmpany-item:last-child .company-review {
  margin-bottom: 5px;
}

.conmpany-item:last-child .company-edit {
  margin-bottom: 0;
}

.conmpany-item.company-close-item:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.btn.company-close-info {
  position: absolute;
  top: 52px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  z-index: 3;
  padding: 5px 20px;
  line-height: 29px;
  font-size: 14px;
  border-radius: 0;
}

.company-icon {
  float: left;
}

.company-edit {
  margin: 30px 0 15px 70px;
}

.company-about {
  margin-left: 70px;
}

.company-about .site-h6-tt {
  margin-bottom: 15px;
}

.company-about a {
  text-decoration: none;
  color: #000;
}

.company-about a:hover {
  color: #ff6600;
}

.company-about .stars-rating {
  margin-top: -5px;
}

.company-adress {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}

.m-card-item {
  margin-bottom: 15px;
  background-color: #fff;
}

.m-card-img {
  display: block;
  height: 167px;
  overflow: hidden;
}

.m-card-img:hover img {
  opacity: 0.9;
}

.m-card-img img {
  width: 100%;
}

.m-card-info {
  padding: 22px 22px 25px;
}

.m-card-info p {
  margin: 15px 0 25px;
  font-size: 16px;
  line-height: 22px;
}

.m-card-tt {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.m-card-tt:hover {
  color: #ff6600;
}

.date {
  display: block;
  color: #999;
  font-size: 14px;
  line-height: 20px;
}

.aside-column {
  margin: 30px 0 20px;
  clear: right;
}

.aside-light-bl-wrapp {
  margin-bottom: 15px;
}

.aside-light-bl-wrapp:last-child {
  margin-bottom: 0px;
}

.aside-article-wrapp article {
  position: relative;
  padding: 20px 0;
  margin-bottom: 15px;
}

.aside-article-wrapp article:first-child {
  padding-top: 0;
}

.aside-article-wrapp article:first-child:before {
  display: none;
}

.aside-article-wrapp article:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.aside-article-wrapp article:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff6600;
  height: 2px;
  width: 100px;
}

.aside-article-wrapp article a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.aside-article-wrapp article a:hover {
  color: #e65c00;
}

.aside-article-wrapp .site-h5-tt {
  margin-bottom: 5px;
}

.aside-article-wrapp p {
  line-height: 22px;
  margin: 15px 0;
}

.aside-article-wrapp p:last-child {
  margin-bottom: 0;
}

.date-dark {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.aside-banner {
  display: block;
  text-align: center;
}

.aside-banner:hover {
  opacity: 0.9;
}

.aside-desctipt p {
  margin: 25px 0 0;
  line-height: 22px;
}

.inner-head {
  padding: 8px 0;
}

.aside-head-mobile {
  margin-top: 0;
}

.stars-rating {
  margin-bottom: 15px;
  line-height: 16px;
}

.stars-rating .icon {
  vertical-align: top;
  margin-right: 2px;
}

.company-contacts-item {
  position: relative;
  padding-left: 30px;
  margin: 10px 0;
}

.company-contacts-item .icon {
  position: absolute;
  top: 0px;
  left: 0;
}

.company-contacts-item .icon-phone {
  top: 3px;
}

.company-contacts-item .icon-house-min {
  left: -2px;
  top: -5px;
}

.c-contacts-info {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.company-review {
  position: relative;
  margin: 25px 0 15px;
  background-color: #f5f5f5;
  padding: 25px 23px;
}

.company-review:before {
  content: ' ';
  position: absolute;
  left: 70px;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 0;
  height: 0;
  border-top: 13px solid #fff;
  border-right: 13px solid transparent;
  border-bottom: none;
  border-left: 13px solid transparent;
}

.company-review p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 24px;
}

.light-bl-bottom-info {
  display: block;
  margin: 15px 0;
  font-size: 11px;
  line-height: 14px;
  color: #666;
}

.review-head {
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 10px;
}

.review-head span {
  display: block;
  margin: 10px 0;
}

.review-head span:first-child {
  margin-top: 0;
}

.review-bl-item {
  margin: 20px 0 25px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0 10px;
}

.review-bl-item .review-bl-item {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.review-bl-item p {
  font-size: 16px;
  line-height: 22px;
  margin: 15px 0;
}

.review-bl-item .stars-rating {
  margin: 15px 0;
}

.review-bl-item .site-h5-tt {
  margin-bottom: 8px;
}

.review-form .stars-rating {
  margin: 30px 0 25px 15px;
}

.review-form input, .review-form textarea {
  font-size: 18px;
}

.review-form-bottom {
  margin-top: 25px;
}

.rating-tt {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: -1px 15px 0 0;
}

.form-ruls {
  display: block;
  margin-top: 20px;
  color: #999999;
  font-size: 11px;
  line-height: 16px;
}

.form-ruls a {
  color: #999999;
}

.rating-info {
  margin: 5px 0 0;
  font-size: 12px;
}

.inner-dark-bl {
  margin-bottom: 25px;
  padding: 20px 15px 15px;
  background-color: rgba(204, 204, 204, 0.2);
}

.inner-dark-bl p {
  margin: 15px 0;
}

.inner-dark-bl p:last-child {
  margin-bottom: 0;
}

.c-main-head {
  margin-bottom: 25px;
}

.c-main-logo {
  display: block;
  max-width: 68px;
  margin: 0 auto 30px;
}

.c-main-contacts-item {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}

.c-main-contacts-item:last-child {
  padding-bottom: 0;
  border: none;
}

.c-main-contacs-wrapp {
  margin-bottom: 30px;
}

.c-main-about {
  margin-bottom: 30px;
}

.c-main-param-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.c-main-param-list li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-main-param-list li:first-child {
  padding-top: 0;
}

.c-main-param-tt {
  text-align: right;
  display: block;
  max-width: 130px;
  min-width: 130px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
}

.products-wrapp {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
}

.product-item {
  width: 46%;
  margin: 0 0 25px 4%;
}

.prod-img {
  margin-bottom: 10px;
}

.prod-img a {
  line-height: 106px;
  height: 106px;
  text-align: center;
  overflow: hidden;
  display: block;
}

.prod-img img {
  max-height: 100%;
}

.prod-tt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px;
  color: #ff6600;
}

.prod-info-about {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.prod-price {
  display: block;
  font-size: 18px;
}

.c-main-products {
  margin-bottom: 30px;
}

.c-main-products .products-wrapp {
  margin-bottom: 15px;
}

.c-main-share {
  position: relative;
  padding: 25px 0 0;
}

.c-main-share:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 2px;
  background-color: #ff6600;
}

.share-line {
  margin-bottom: 20px;
}

.share-line .rate-panel {
  display: block;
  margin: 0 25px 25px 0;
}

.share-tt {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 25px;
}

.share-links .btn {
  margin: 10px 3px 10px 0;
}

.cabinet-item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
}

.cabinet-item:last-child {
  margin-bottom: 0;
}

.cabinet-item .icon {
  position: absolute;
  left: 0;
  top: -2px;
}

.cabinet-item .icon-cart {
  left: 1px;
}

.cabinet-item .icon-house-min {
  top: -1px;
}

.cabinet-item a {
  display: inline-block;
  vertical-align: middle;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}

.cabinet-item a:hover {
  color: #e65c00;
}

.tags-wrapp {
  margin: 25px 0 0;
}

.tags-wrapp .btn {
  min-width: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 3px 7px 0;
}

.card-descript {
  margin-bottom: 30px;
}

.card-descript p {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16px;
}

.card-descript .site-h5-tt {
  margin: 20px 0;
}

.card-descript .btn {
  max-width: 300px;
}

.card-price {
  display: block;
  margin: 25px 0;
  padding-top: 25px;
  position: relative;
  font-size: 24px;
  line-height: 26px;
}

.card-price:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 2px;
  background-color: #ff6600;
}

.prod-provider {
  padding: 25px 0;
  margin-bottom: 5px;
  border-top: 1px solid #f2f2f2;
}

.prod-provider .site-h3-tt {
  margin-bottom: 22px;
}

.prod-prov-map {
  margin-bottom: 20px;
}

.prod-about-info {
  border-top: 1px solid #f2f2f2;
  padding-top: 30px;
}

.prod-about-info .site-h3-tt {
  margin-bottom: 22px;
}

.prod-about-info p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 22px;
}

.prod-about-info .c-main-share {
  margin-top: 30px;
}

.prod-about-info .share-line {
  margin-bottom: 5px;
}

.prod-prov-info .site-h5-tt {
  margin-bottom: 10px;
}

.article-inner-head {
  margin-bottom: 25px;
}

.article-inner-head .date {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.rate-panel {
  display: inline-block;
  vertical-align: middle;
  width: 92px;
  text-align: center;
  overflow: hidden;
}

.rate-down,
.rate-up {
  position: relative;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, 0.3);
  cursor: pointer;
}

.rate-down:hover,
.rate-up:hover {
  position: 0.9;
}

.rate-down:before,
.rate-up:before {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -7px 0 0 -4px;
}

.rate-down {
  float: left;
}

.rate-down:before {
  background-image: url(../img/sprite.png);
  background-position: -33px -232px;
  width: 9px;
  height: 13px;
}

.rate-up {
  float: right;
}

.rate-up:before {
  background-image: url(../img/sprite.png);
  background-position: -22px -232px;
  width: 9px;
  height: 13px;
}

.rate-value {
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 14px;
}

.value-plus {
  color: #339966;
}

.value-minus {
  color: #eb0d00;
}

.share-tags {
  margin: 30px 0 23px -4px;
}

.share-tags .btn {
  margin: 2px 0 2px 4px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 20px;
}

.article-inner-person {
  margin: 30px 0 25px;
  display: flex;
  align-items: center;
}

.a-inner-img {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.a-inner-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.a-inner-name {
  display: block;
  font-family: "NEXTART_Bold", Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
}

.a-inner-position {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.review-bl-bottom {
  margin-bottom: 15px;
}

.review-bl-bottom .btn {
  padding-left: 11px;
  padding-right: 11px;
  min-width: 30px;
  color: #999999;
  margin-right: 20px;
}

/* Min width 400 pixels */
@media only screen and (min-width: 400px) {
  .m-card-img {
    height: 200px;
  }
  /* end media min width 400 pixels */
}

/* Min width 640 pixels */
@media only screen and (min-width: 640px) {
  .main-card-wrapp {
    margin-left: -5%;
  }
  .m-card-item {
    width: 45%;
    margin: 0 0 30px 5%;
  }
  .review-head span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .review-head .btn {
    margin: 0 10px;
  }
  .c-main-param-tt {
    min-width: 240px;
    max-width: 240px;
    margin-right: 100px;
  }
  .prod-prov-map {
    float: left;
    margin: 0 20px 20px 0;
  }
  .share-line .rate-panel {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  /* end media min width 640 pixels */
}

/* Min width 768 pixels */
@media only screen and (min-width: 768px) {
  /* ------------------- Main blocks */
  .main-banner-wrapp {
    margin-top: 25px;
  }
  .m-banner-lg {
    float: left;
    width: 473px;
    margin-bottom: 0;
  }
  .m-banner-lg .m-banner-inner {
    padding: 20px;
  }
  .m-banner-st {
    margin-left: 473px;
    width: 247px;
  }
  .m-banner-inner {
    padding: 15px 10px 15px 13px;
  }
  .company-inline-wrapp {
    margin: 30px 0 0 -30px;
  }
  .company-inline-wrapp .conmpany-item {
    display: inline-block;
    vertical-align: top;
    width: 305px;
    margin: 0 0 40px 40px;
  }
  .company-inline-wrapp .hidden-devices {
    display: none;
  }
  .conmpany-item {
    margin-bottom: 25px;
    padding-bottom: 12px;
  }
  .c-contacts-info {
    display: inline-block;
    vertical-align: top;
  }
  .company-contacts-item .icon-phone {
    top: 0;
  }
  .main-column {
    width: 470px;
    float: left;
  }
  .main-card-wrapp {
    margin-left: -30px;
  }
  .m-card-item {
    width: 220px;
    margin-left: 30px;
  }
  .m-card-img {
    height: 127px;
  }
  .m-card-info {
    padding: 20px 15px;
  }
  .m-card-tt {
    font-size: 18px;
    line-height: 22px;
  }
  .aside-column {
    float: right;
    width: 220px;
    margin-top: 0;
  }
  .aside-light-bl-wrapp {
    margin-bottom: 35px;
  }
  .company-about .site-h6-tt {
    font-size: 16px;
  }
  .company-review {
    margin-left: 48px;
  }
  .review-head {
    margin-bottom: 25px;
  }
  .review-img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
  }
  .review-img img {
    border-radius: 35px;
    width: 70px;
    height: 70px;
  }
  .review-item-inner {
    margin-left: 100px;
  }
  .review-form input, .review-form textarea {
    font-size: 24px;
  }
  .rating-tt {
    font-size: 24px;
  }
  .inner-dark-bl {
    margin-bottom: 30px;
    padding: 25px;
  }
  .products-wrapp {
    margin-left: -10%;
  }
  .product-item {
    width: 40%;
    margin-left: 10%;
  }
  .prod-img a {
    height: 160px;
    line-height: 160px;
  }
  .c-main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  .c-main-logo {
    min-width: 90px;
    max-width: 90px;
    margin: 0 36px 0 15px;
  }
  .c-main-contacts-item {
    margin-bottom: 30px;
  }
  .c-main-products {
    margin-bottom: 45px;
  }
  .share-links .btn {
    margin-bottom: 0;
  }
  .share-line {
    margin-bottom: 15px;
  }
  .share-tt {
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px 0 0;
  }
  .share-tt span {
    display: none;
  }
  .rating-info {
    display: inline;
    margin: 0 0 0 10px;
  }
  .cabinet-item {
    padding-left: 30px;
  }
  .cabinet-item .icon {
    left: -5px;
  }
  .inner-banner-wrapp {
    overflow: hidden;
  }
  .inner-banner-wrapp .m-banner-st {
    width: 50%;
    margin-left: 0;
    float: left;
    height: 207px;
  }
  .a-inner-img {
    margin-right: 25px;
  }
  .a-inner-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .review-bl-item {
    margin-bottom: 30px;
  }
  .review-bl-item .review-bl-item {
    padding-top: 5px;
    border-top: none;
  }
  /* end media min width 768 pixels */
}

/* Min width 1170 pixels */
@media only screen and (min-width: 1170px) {
  /* ------------------- Main blocks */
  .main-banner-wrapp {
    margin: 55px 0 50px;
  }
  .inner-banner-wrapp {
    margin-bottom: 50px;
  }
  .m-banner-lg {
    width: 730px;
  }
  .m-banner-lg .m-banner-inner {
    padding: 25px;
  }
  .m-banner-st {
    margin-left: 730px;
    width: 381px;
  }
  .m-banner-info {
    display: block;
  }
  .m-banner-inner {
    padding: 23px;
  }
  .company-inline-wrapp {
    margin: 40px 0 0 -50px;
  }
  .company-inline-wrapp .hidden-devices {
    display: inline-block;
  }
  .company-inline-wrapp .conmpany-item {
    margin-left: 60px;
  }
  .conmpany-item {
    padding-right: 35px;
  }
  .main-column {
    width: 730px;
  }
  .m-card-item {
    width: 350px;
  }
  .m-card-img {
    height: 202px;
  }
  .m-card-info {
    padding: 25px 20px 20px;
  }
  .m-card-tt {
    font-size: 24px;
    line-height: 24px;
  }
  .aside-column {
    width: 350px;
  }
  .company-about .site-h6-tt {
    font-size: 18px;
  }
  .ban-fix-pin {
    position: absolute;
    top: -2px;
    right: 3px;
  }
  .inner-head {
    padding: 0;
    margin: 0 0 35px;
  }
  .aside-light-bl-wrapp {
    margin-bottom: 50px;
  }
  .review-head {
    margin: -5px 0 15px;
  }
  .form-ruls {
    display: inline-block;
    vertical-align: middle;
    width: 420px;
    margin: 0 0 0 22px;
  }
  .c-main-param-list li {
    padding: 15px 200px 15px 20px;
  }
  .share-tt span {
    display: inline;
  }
  .cabinet-item {
    padding-left: 40px;
  }
  .cabinet-item .icon {
    left: 0;
    top: 2;
  }
  .cabinet-item .icon-cart {
    left: 1px;
  }
  .cabinet-item .icon-house-min {
    top: 0px;
  }
  .btn.company-close-info {
    padding: 10px 20px;
    width: 342px;
    margin-left: -171px;
    font-size: 18px;
  }
  .inner-banner-wrapp .m-banner-st {
    height: 213px;
    width: 370px;
  }
  .card-descript {
    margin-left: 370px;
    padding-top: 25px;
  }
  .prod-prov-info {
    margin-left: 230px;
  }
  .prod-prov-info .site-h5-tt {
    font-size: 18px;
  }
  .prod-about-info .site-h3-tt {
    margin-bottom: 30px;
  }
  .prod-prov-map {
    margin-bottom: 0;
  }
  .c-main-logo {
    min-width: 162px;
    max-width: 162px;
    margin: 0 15px;
  }
  .products-wrapp {
    margin-left: -75px;
  }
  .product-item {
    width: 175px;
    margin-left: 75px;
  }
  /* end media min width 1170 pixels */
}

.article-inner-info ul {
  clear: left;
}
 
.icon-dialog {
  background-image: url(../img/sprite.png);
  background-position: -207px -236px;
  width: 26px;
  height: 26px;
  margin-top: 2px;
}
 
.icon-message-i {
  width: 26px;
  height: 26px;
  background-image: url(../img/sprite.png);
  background-position: -113px -233px;
}
