/*  ------------------- red-blue theme */
body {
  background: #dae9ef;
}

a,
.company-about a:hover,
.aside-article-wrapp article a:hover,
.m-card-tt:hover,
.head-loc-link,
ul.menu > li a:hover,
ul.menu > li span:hover,
.menu-drop-down > ul > li > a:hover,
.menu-drop-down > ul > li > a.active-trail,
.h-nav-link-icon:hover,
.prod-tt,
.article-inner-info .article-list-links li a:hover,
.art-content-list li a:hover,
.cabinet-item a:hover {
  color: #ed1d1b;
}

a:hover {
  color: #dd1311;
}

.icon-dialog-h,
.menu-icon span,
.menu-icon span:before,
.menu-icon span:after,
.pagination .active a,
.pagination .active a:hover,
.logo a,
.footer-logo a,
.btn,
.h-nav-link-btn,
.line-tt:before,
.c-main-share:before,
.aside-article-wrapp article:before,
.card-price:before {
  background-color: #ed1d1b;
}

.btn:hover,
.h-nav-link-btn:hover {
  background-color: #dd1311;
}

.head-loc-link,
.article-inner-info blockquote,
.owl-thumbs .owl-item.current > div {
  border-color: #ed1d1b;
}

.menu-open-wrapper {
  background-color: #1f283f;
}

.article-inner-info ul > li {
  background: url(../img/list-bg-red.png) 0 8px no-repeat;
}

.icon-arrow-rt {
  background-image: url(../img/sprite.png);
  background-position: -110px -60px;
  width: 8px;
  height: 14px;
}

.icon-lock {
  background-image: url(../img/sprite.png);
  background-position: -223px -56px;
  width: 20px;
  height: 26px;
}

.icon-key {
  background-image: url(../img/sprite.png);
  background-position: -140px -154px;
  width: 26px;
  height: 26px;
}

.h-search-form button,
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -84px -154px;
  width: 26px;
  height: 26px;
}

.icon-house-img {
  background-image: url(../img/sprite.png);
  background-position: -120px 0px;
  width: 48px;
  height: 49px;
}

.menu-dd-open .icon {
  background-image: url(../img/sprite.png);
  background-position: -176px -208px;
  width: 13px;
  height: 8px;
}

.icon-soc-fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -208px;
  width: 22px;
  height: 22px;
}

.icon-soc-insta {
  background-image: url(../img/sprite.png);
  background-position: -130px -182px;
  width: 22px;
  height: 22px;
}

.icon-soc-ok {
  background-image: url(../img/sprite.png);
  background-position: -245px -62px;
  width: 12px;
  height: 20px;
}

.icon-soc-tw {
  background-image: url(../img/sprite.png);
  background-position: -140px -102px;
  width: 18px;
  height: 15px;
}

.icon-soc-vk {
  background-image: url(../img/sprite.png);
  background-position: -170px -140px;
  width: 20px;
  height: 12px;
}

.icon-house-min {
  background-image: url(../img/sprite.png);
  background-position: -117px -120px;
  width: 24px;
  height: 24px;
}

.icon-star-fill {
  background-image: url(../img/sprite.png);
  background-position: -245px -180px;
  width: 15px;
  height: 14px;
}

.icon-star-half {
  background-image: url(../img/sprite.png);
  background-position: -245px -100px;
  width: 15px;
  height: 14px;
}

.icon-star-empty {
  background-image: url(../img/sprite.png);
  background-position: -245px -132px;
  width: 15px;
  height: 14px;
}

.field-name-field-rate div.fivestar-widget .star a, div.fivestar-widget-static .star span.off {
	/*width: 18px;
	height: 17px;*/
	background-image: url("../img/sprite.png");
    background-position: -245px -132px;
	display: block;
}

.field-name-field-rate div.fivestar-widget .star.on a, .field-name-field-rate div.fivestar-widget .star.hover a,
div.fivestar-widget-static .star span.on {
	background-image: url("../img/sprite.png");
	background-position: -245px -180px;
}

.icon-pin-p {
  background-image: url(../img/sprite.png);
  background-position: -170px 0px;
  width: 26px;
  height: 26px;
}

.icon-attention {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 58px;
  height: 58px;
}

.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: -198px -84px;
  width: 22px;
  height: 26px;
}

.icon-wallet {
  background-image: url(../img/sprite.png);
  background-position: -26px -182px;
  width: 24px;
  height: 24px;
}

.icon-page {
  background-image: url(../img/sprite.png);
  background-position: -104px -182px;
  width: 24px;
  height: 22px;
}

.icon-user {
  background-image: url(../img/sprite.png);
  background-position: -223px -139px;
  width: 20px;
  height: 22px;
}

.icon-logout {
  background-image: url(../img/sprite.png);
  background-position: -198px 0px;
  width: 23px;
  height: 26px;
}

.poll .bar .foreground {
	background: #ed1d1b;
}

.icon-dialog {
  background-image: url(../img/sprite.png);
  background-position: -144px -236px;
}
 
.icon-message-i {
  background-image: url(../img/sprite.png);
  background-position: -50px -233px;
}

.btn-tab.active, .btn-tab:hover {
	border-bottom: 2px solid #ED1D1B;
}

.poll .bar .foreground {
	background: #ED1D1B;
}

.add-to-dropbox, .field-type-image .form-submit,
.field-type-field-collection .field-add-more-submit {
	background-color: #ED1D1B;
}