/* ---------- Layout ----------- */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.amp-header__content,
.amp-main__content,
.amp-footer__content {
  margin: 0 auto;
  max-width: 620px;
}

.amp-main {
  min-height: 300px;
}

.amp-main__content {
  padding-top: 20px;
  padding-bottom: 40px;
}

#page {
  background-color: #ffffff;
}

/* ---------- Typography ----------- */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}

/* --- Links --- */

a,
a.link {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 a,
h2 a {
  border-bottom: none;
}

/* --- Headings --- */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-a,
.heading-b,
.heading-c,
.heading-d,
.heading-e,
.heading-f {
  font-weight: inherit;
  margin: 1rem 0 0.5rem;
}

h1,
.heading-a {
  font-size: 1.2rem;
  color: #000;
}

/*h2,
.heading-b {
  font-size: 1rem;
}

h3,
.heading-c {
  font-size: 0.9375rem;
}*/

h4,
.heading-d {
  font-size: 0.875rem;
}

h5,
h6,
.heading-e,
.heading-f {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5,
.heading-e {
  font-size: 0.75rem;
}

h6,
.heading-f {
  font-size: 0.625rem;
}

/* --- Text --- */

p {
  margin: 0 0 1rem;
}

del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.3125rem 10px;
  padding: 0.4375rem 10px;
}

[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}

blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 2.625rem;
  line-height: 0.1;
  margin-right: 0.153125rem; /* LTR */
  vertical-align: -0.30625rem;
}

[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.153125rem;
  margin-right: 0;
}

blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 2.625rem;
  line-height: 0.1;
  vertical-align: -0.39375rem;
}

[dir="rtl"] blockquote:after {
  content: "\201C";
}

blockquote > p:first-child {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0 0 0.21875rem 0.875rem; /* LTR */
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 0.875rem 0.21875rem 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.21875rem 0.875rem; /* LTR */
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 0.875rem 0.21875rem 0;
}

/* ---------- Colors ----------- */

body {
  background: #292929;
  color: #3b3b3b;
}

.amp-header {
  background-color: #FF5B00;
  /*background-image: -webkit-linear-gradient(top, #055a8e 0%, #1d84c3 100%);
  background-image: linear-gradient(to bottom, #055a8e 0%, #1d84c3 100%);*/
}

.amp-main {
  background-color: #ffffff;
}

.amp-footer {
  background: #292929;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}

a:active,
.link:active {
  color: #23aeff;
}

.amp-header,
.amp-header a,
.amp-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a {
  color: #fffeff;
}

/* ---------- Utility classes ----------- */

.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- Header ----------- */

.amp-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.amp-header__content {
  padding: 0.75rem .9375rem 0.75rem;
}


.amp-header a {
  border-bottom: none;
}

.site-branding {
  margin: 0.375rem auto 0.375rem;
}

.site-branding__logo {
  display: inline-block;
  margin-right: 0.875rem; /* LTR */
  margin-bottom: 0.25rem;
  padding: 15px 15px 15px 10px; /* LTR */
  width: 6rem;
}

[dir="rtl"] .site-branding__logo {
  margin-right: 0;
  margin-left: 1em;
}

.site-branding__text {
  display: inline-block;
  vertical-align: top;
}

.site-branding__name {
  font-size: 1.375rem;
  color: #686868;
  line-height: 1;
}

.site-branding__slogan {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}

/* ---------- Footer ----------- */

.amp-footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.amp-footer__content {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.75rem;
  padding: 2rem 1rem 2rem;
}

.amp-footer a,
.amp-footer a.is-active {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}

.amp-footer a:hover,
.amp-footer a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}


/* ---------- Skip Link ----------- */

.amp-skip-link {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.94em;
  line-height: 1.7em;
  padding: 1px 10px 2px;
  border-radius: 0 0 10px 10px;
  border-bottom-width: 0;
  outline: 0;
}

.amp-skip-link.element-invisible.element-focusable:focus {
  position: absolute;
  color: #fff;
}

/* ---------- Contextual links and tabs ----------- */

.tabs,
.contextual-links-wrapper {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* ---------- Messages ----------- */

.messages {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 8px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(../../../../../../misc/message-24-ok.png);
  border-color: #be7;
}

div.status,
.ok {
  color: #234600;
}

div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../../../../../../misc/message-24-warning.png);
  border-color: #ed5;
}

div.warning,
.warning {
  color: #840;
}

div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

div.error,
.error {
  color: #8c2e0b;
}

div.error,
table tr.error {
  background-color: #fef5f1;
}

div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}

div.messages ul li {
  list-style-image: none;
}

.field-label-inline > div {
	display: inline-block;
}

.field-label-inline > div.field-label {
	padding-right: 10px;
}

#content {
	padding-left: 15px;
	padding-right: 15px;
}
