body { 
  font: 14px/1.7em Arial, Helvetica, sans-serif; 
}

ul.menu li a {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: 600; color: #000; line-height: 1.4em; }
.h2 { font-size: 18px }
.h3 { font-size: 16px }
.h4 { font-size: 14px }
.h5 { font-size: 12px }
.h6 { font-size: 10px }

.node .h2.title {
    font-size: 1.5em;
    line-height: 1.25em;
}

.sidebar-container .block > .h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.view-video .view-content, .view-articles.view-display-id-block_3 .view-content {
	font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}

.view-video .view-content > div {
	vertical-align: top;
    zoom: 1;
    line-height: normal;
    letter-spacing: normal;
	float: none;
	display: inline-block;
	width: 50%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 14px;
}

.view-video .view-content > div article.node-teaser {
	text-align: center;
	border: none !important;
}

.view-video .view-content > div article .title a {
	font-size: 18px;
    line-height: 1.25em;
}

.view-video .view-content > div article .content {
	line-height: normal;
    letter-spacing: normal;
	font-size: normal;
	padding-top: 20px;
}

.view-video .view-content .node-teaser img {
	float: none;
}

.view-articles.view-display-id-block_3 {
	margin: -15px;
	padding-bottom: 20px;
}

.view-articles.view-display-id-block_3 .views-row {
	vertical-align: top;
    zoom: 1;
    line-height: 22px;
    letter-spacing: normal;
	float: none;
	width: 33.333%;
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
	font-size: 16px;
}

.view-articles.view-display-id-block_3 .views-row img {
	width: 100%;
	height: auto;
}

.title-h2 {
	color: #000;
    font-weight: 600;
    line-height: 1.4em;
	font-size: 18px;
	margin-top: 20px;
}

.adscon {
margin-bottom:5px;    
    margin-top:5px;
}

.featured-slider-caption-title {
	font-size: 18px;
}

.share {
	padding-bottom: 30px;
}

.share > span {
	line-height: 24px;
	padding-right: 20px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.share div.ya-share2 {
	display: inline-block;
	vertical-align: top;
}

.block-fixed {
	position: fixed;
	top: 20px;
	max-width: 250px;
}

.firm-full .row, .product-full .row {
	margin-top: 30px;
	overflow: hidden;
}

.firm-full hr, .product-full hr {
	margin: 30px 0;
}

.firm-full .logo {
	width: 163px;
	height: 163px;
	float: left;
	margin-right: 20px;
}

.firm-full .logo img {
	padding: 0 !important;
	margin: 0 !important;
	border: 1px solid #ccc !important;
}

.firm-full .map {
	width: calc(100% - 183px);
	float: right;
}

.firm-full .map .geofield-ymap {
	max-height: 163px;
}

.firm-full .firm-contacts-item {
	color: #000;
}

.firm-full .firm-contacts-item label {
	padding-left: 30px;
	color: #555;
	width: 210px;
	display: inline-block;
	box-sizing: border-box;
}

.firm-full .firm-contacts-item.firm-address label {
	background: url(../images/icon-home.png) left center no-repeat;
}

.firm-full .firm-contacts-item.firm-phone label {
	background: url(../images/icon-phone.png) left center no-repeat;
}

.firm-full .firm-contacts-item.firm-worktime label {
	background: url(../images/icon-time.png) left center no-repeat;
}

.firm-full .firm-contacts-item.firm-site label {
	background: url(../images/icon-site.png) left center no-repeat;
}

.firm-full .firm-undeground label {
	padding: 0;
}

.firm-desc {
	color: #555;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.firm-options {
	display: table;
	width: 100%;
}

.firm-options .table-cell {
/* 	line-height: 40px; */
	color: #000;
	padding: 15px;
	border-right: 1px solid #8cd9ff;
/* 	border-color: #8cd9ff; */
	vertical-align: middle;
}

.firm-options .table-cell:nth-child(2) {
	text-align: center;
}

.firm-options .table-cell:last-child {
	border: none;
}

.firm-options .table-row:nth-child(odd) {
	background: #c9edff;
}

.option-value-1 {
	height: 22px;
	width: 19px;
	background: url(../images/icon-ok.png) center center no-repeat;
	display: block;
	margin: 0 auto;
}

.option-value-0 {
	height: 15px;
	width: 15px;
	background: url(../images/icon-no.png?v=0.1) center center no-repeat;
	display: block;
	margin: 0 auto;
}

.comment-title {
	margin: 30px 0;
	font-weight: bold;
	color: #000;
}

.comment-form, 
.block-localvet-filters,
#user-login,
#user-register-form,
#user-pass,
#user-profile-form,
.node-form,
.webform-client-form {
	background: #f5f5f5;
	padding: 15px;
}

.form-item, .comment-form .form-item {
	margin: 0 0 15px;
}

.form-item label, #comment-body-add-more-wrapper .form-type-textarea label {
	display: block;
	padding-bottom: 5px;
	width: 100%;
	margin: 0;
}

.field-name-field-rate {
	padding-top: 7px;
}

.field-name-field-rate .form-item .form-item {
	margin: 0;
}

.field-name-field-rate .form-item label {
	padding: 0 20px 0 0;
	line-height: 17px;
	display: inline-block;
	width: auto;
}

.field-name-field-rate div.fivestar-widget .star, div.fivestar-widget-static .star {
	width: 18px;
	height: 17px;
	background: none;
}

.field-name-field-rate div.fivestar-widget .star a, div.fivestar-widget-static .star span.off {
	/*width: 18px;
	height: 17px;*/
	background: url(../images/star.png) no-repeat;
	display: block;
}

.field-name-field-rate div.fivestar-widget .star.on a, .field-name-field-rate div.fivestar-widget .star.hover a,
div.fivestar-widget-static .star span.on {
	background: url(../images/star-active.png) no-repeat;
}

.grippie {
	display: none;
}

.form-type-textarea  textarea.form-textarea, .webform-component-textarea textarea.form-textarea {
	background: #fff;
	border: 1px solid #cdcdcd;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	color: #555;
	background: #FCFCFC;
	font-family: Arial;
}

.comment-form .form-type-item a, .comment-form .form-item-name input[type=text],
.form-type-textfield input, .form-type-password input,
.webform-component-textfield input, .webform-component-email input {
	height: 40px;
	line-height: 40px;
	border: 1px solid #cdcdcd;
	padding: 0 10px;
	width: 100%;
	box-sizing: border-box;
	color: #555;
	display: inline-block;
	border-radius: 5px;
}

.form-actions {
	text-align: right;
}

.form-actions input[type=submit], a.btn {
	height: 40px;
	line-height: 40px;
	border: none;
	background: #00acd1;
	color: #fff;
	padding: 0 60px;
	margin: 0 !important;
	font-weight: normal;
	display: inline-block;
}

a.btn:hover {
	color: #fff;
}

.firm-comment-text {
	padding: 20px 35px;
	background: #f5f5f5;
	position: relative;
}

.firm-comment-text:before {
	position: absolute;
	content: '“';
	font-size: 72px;
	color: #000;
	top: 25px;
	left: 10px;
}

.firm-comment-text:after {
	position: absolute;
	content: '“';
	font-size: 72px;
	color: #000;
	bottom: -10px;
	right: 10px;
}

.comment {
	padding-top: 30px;
}

.comment-author b {
	font-weight: bold;
}

.comment .fivestar-widget-static {
	padding: 10px 0;
}

.fivestar-user-text .description {
	display: none;
}

.comment-wrapper h2.title {
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.firm-rate {
	padding: 10px 0 0;
	font-style: italic;
}

.firm-rate .fivestar-default, .firm-rate .description {
	display: inline-block;
	vertical-align: top;
}

.firm-rate .average-rating {
	display: none;
}

.firm-rate .total-votes, .firm-rate .fivestar-summary-average-count {
	line-height: 17px;
	height: 17px;
}

.firm-rate .fivestar-summary-average-count {
	padding-left: 10px;
}

.is-my {
	background: #efefef;
	color: #000;
	padding: 0 15px;
	line-height: 35px;
	display: inline-block;
	margin-right: 20px;
}

.find-error {
	color: #ff6161;
	border-bottom: 1px dashed #ff6161;
	vertical-align: middle;
}

.find-error:hover {
	color: #ff6161;
	border-bottom: 1px dashed #ff6161;
}

#content .node-product.node-teaser {
	border: none;
	padding: 0 0 25px;
	margin: 0;
}

.node-product.node-teaser .tiu-foto {
	display: block;
}

.node-product.node-teaser .tiu-foto a {
	display: block;
}

.node-product.node-teaser .tiu-foto img {
	margin: 0 !important;
	padding: 0 !important;
	float: none;
	width: 100%;
	height: auto;
}

.node-product.node-teaser .tiu-title a {
	font-weight: bold;
}

.view-tiu .h2 {
	padding-bottom: 30px;
}

.view-tiu .view-content {
	font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}

.view-tiu .view-content .tiu-item {
	vertical-align: top;
    zoom: 1;
    line-height: normal;
    letter-spacing: normal;
	float: none;
	display: inline-block;
	width: 30%;
	margin-right: 5%;
	font-size: 14px;
	line-height: 22px;
}

.view-tiu .view-content .tiu-item:nth-child(3n+3) {
	margin: 0;
}

.firm-teaser-title a {
	font-weight: bold;
}

.node-teaser.node-firm .firm-rate {
	padding: 15px 0;
}

.node-teaser.node-firm .firm-rate .form-item {
	margin: 0;
}

.node-teaser.node-firm .row {
	margin-top: 20px;
}

.node-teaser.node-firm .firm-contacts .row:first-child {
	margin: 0;
}

.view-firms.view-display-id-page .view-content {
	margin-bottom: 25px;
}

div.item-list ul.pager li {
	display: inline-block;
	width: 37px;
	height: 37px;
	padding: 0;
	vertical-align: top;
}

div.item-list ul.pager li.pager-current {
	background: #00acd1;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	line-height: 37px;
}

div.item-list ul.pager li a {
	background: #fff;
	display: block;
	border: 1px solid #eee;
	border-radius: 3px;
	color: #000;
	line-height: 35px;
}

.search-row {
	width: 100%;
	padding-bottom: 10px;
}

.search-row .form-item {
	margin: 0;
}

.search-colums {
/* 	overflow: hidden; */
}

.search-col {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.search-col:first-child {
	margin-right: 1%;
}

.jq-selectbox {
	width: 100%;
}

.jq-selectbox__select {
	width: 100%;
	background: #fff;
	border: 1px solid #cdcdcd;
	padding: 0 25px 0 15px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border-radius: 5px;
}

.jq-selectbox__select:hover {
	background: #fff;
}

.jq-selectbox__trigger {
	width: 25px;
	background: #fff;
	border: none;
	border-radius: 5px;
}

.jq-selectbox.disabled .jq-selectbox__trigger {
	background: #f5f5f5;
}

.jq-selectbox__trigger-arrow {
	height: 100%;
	width: 10px;
	background: url(../images/select-arrow.png) no-repeat left center;
	left: 0;
	top: 0;
	padding: 0;
	border: none;
}

.jq-selectbox__dropdown li.sel, .jq-selectbox__dropdown li:hover {
	background: #00acd1;
}

.block-localvet-filters .h2 {
	padding-bottom: 15px;
}

.reset {
	display: inline-block;
	padding-right: 15px;
}

.reset a:hover {
	color: #00acd1;
	text-decoration: underline;
}

.block-localvet-filters .form-actions {
	padding: 0;
	margin: 0;
}

.block-localvet-filters {
	margin: 10px 0 30px;
}

.product-top {
	background: #f5f5f5;
	padding: 15px 25px;
	margin-bottom: 25px;
}

.product-top .top-col {
	display: inline-block;
	width: 49%;
	padding-right: 20px;
	box-sizing: border-box;
	vertical-align: top;
}

.product-top img {
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: auto !important;
}

.product-top .tiu-foto {
	padding-right: 15px;
	float: left;
	width: 180px;
}

.product-top .tiu-foto a {
	display: none;
}

.product-top .tiu-foto a:first-child {
	display: block;
}

.tiu-foto-mini {
	width: 50px;
	float: left;
}

.tiu-foto-mini img {
	margin-bottom: 6px !important;
	cursor: pointer;
}

.row.share {
	padding-bottom: 0;
}

.view-tiu.view-display-id-block_1 {
	border-bottom: 1px solid #eee;
}

.view-tiu.view-display-id-block_2 {
	margin-top: 30px;
}

#comments {
	margin-top: 25px;
}

#block-localvet-filters-firms-filter-right .search-col {
	width: 100%;
	margin-right: 0;
}

#block-localvet-filters-firms-filter-right .reset/*, #block-localvet-filters-firms-filter-right .item-name*/ {
	display: none;
}

#block-localvet-filters-firms-filter-right .form-actions input {
	width: 100%;
}

.firms-map {
	padding: 30px 0;
}

.firms-map .geofield-ymap {
	height: 300px;
}

.form-type-password-confirm .form-item {
	margin: 0 0 10px;
}

input.password-confirm, input.password-field {
	margin: 0;
}

div.password-confirm,
.password-strength {
	display: none;
}

.password-parent,
.confirm-parent, .password-parent {
	width: 100%;
}

.node-add-btn {
	text-align: right;
	padding-bottom: 25px;
}

.tabs-wrapper {
	border: none;
	margin: 0;
	padding-bottom: 25px;
}

ul.primary li a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #00acd1;
	color: #00acd1;
	margin-right: 20px;
	border-radius: 10px;
	box-sizing: border-box;
}

ul.primary li a.active, ul.primary li a:hover {
	background: #00acd1;
	color: #fff;
	border: 1px solid #00acd1;
}



.field-type-text-long .ckeditor_links, .field-type-text-long .filter-wrapper,
.field-type-text-with-summary .ckeditor_links, .field-type-text-with-summary .filter-wrapper {
	display: none !important;
}

.link-field-column .form-text {
	width: 80%;
}

.image-widget-data, .file-widget {
    line-height: 30px
}

.image-widget-data input.form-file, .file-widget input.form-file, .form-type-mfw-managed-file input[type=file] {
    float: left
}
.image-widget-data input.form-submit, .file-widget input.form-submit, .form-type-mfw-managed-file input.form-submit { 
	background: #00acd1 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    margin: 0 0 0 10px;
    padding: 0 10px;
	vertical-align: top;
}

.image-widget-data span, .file-widget span {
    display: none
}

.image-widget-data input.form-submit, .file-widget input.form-submit, .form-type-mfw-managed-file input.form-submit {
	/*margin-left: 20px;
	margin-top: -8px;*/
}

.field-type-link-field .link-field-subrow .form-item {
	margin: 0;
}

.form-type-hierarchical-select input[type=submit], .field-type-field-collection input[type=submit] {
	background: #00acd1 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    margin: 10px 0 0 0 !important;
    padding: 0 10px;
	vertical-align: top;
}

.field-widget-image-miw td input[type=submit] {
	background: #00acd1 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    padding: 0 10px;
	vertical-align: top;
}

.form-type-hierarchical-select .selects {
	width: 100%;
	float: none;
}

.form-type-hierarchical-select .selects .jq-selectbox {
	width: 49%;
	display: inline-block;
	margin-bottom: 5px;
}

.form-type-hierarchical-select .selects .jq-selectbox:nth-child(odd) {
	margin-right: 1%;
}

.hierarchical-select-wrapper .dropbox table {
	width: 100%;
}

.hierarchical-select-wrapper .dropbox {
	display: block;
	margin: 0;
}

.hierarchical-select-wrapper .dropbox td {
    padding: 10px 10px;
    border: 1px solid #ddd;
}

td.dropbox-remove *, td.dropbox-remove a:link, td.dropbox-remove a:visited {
	color: #00acd1;
}

.field-type-field-collection .tabledrag-toggle-weight-wrapper, .field-type-field-collection .field-multiple-drag,
.field-widget-image-miw .tabledrag-toggle-weight-wrapper, .field-widget-image-miw .field-multiple-drag, .field-widget-image-miw a.tabledrag-handle {
	display: none;
}

.field-type-field-collection tr, .field-widget-image-miw tr {
	padding: 0;
}

.field-type-field-collection th, .field-type-field-collection td,
.field-widget-image-miw th, .field-widget-image-miw td {
	padding: 10px 10px !important;
    border: 1px solid #ddd;
}

.field-type-field-collection th, .field-type-field-collection tr,
.field-widget-image-miw th, .field-widget-image-miw tr {
	background: none;
}

.field-widget-image-miw td {
	vertical-align: middle;
	text-align: center;
}

.field-widget-image-miw td .image-preview, .field-widget-image-miw td .image-preview img {
	padding: 0 !important;
	margin: 0 !important;
}

.field-type-field-collection th, .field-widget-image-miw th {
	color: #00acd1;
}

.field-type-field-collection td .form-item {
	padding-bottom: 10px;
}

.field-type-field-collection td .form-item input {
	margin: 0;
}

.field-type-field-collection td .form-item label {
	padding: 0;
}

.field-type-link-field .link-field-column {
	width: 49%;
}

.field-type-link-field .link-field-column lable {
	padding: 0;
}

.field-type-link-field .link-field-column input {
	margin: 0;
	width: 100%;
}

.field-type-link-field .link-field-column:first-child {
	margin-right: 2%;
}

.node-form .field-type-text-long {
	margin-bottom: 15px;
}

.teaser-lk {
	position: relative;
}

.lk-edit-link {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 24px;
}

.node-product.teaser-lk .lk-edit-link  {
	top: auto;
	bottom: 10px;
}

.node-form .form-actions input.cancel[type=submit] {
	margin-left: 10px !important;
}

.view-grouping {
	padding-bottom: 20px;
}

.view-grouping .view-grouping-header {
	font-size: 20px;
	padding-bottom: 10px;
}

.view-grouping .view-grouping-content {
	padding-left: 20px;
}

.view-grouping .view-grouping-content h3 {
	font-size: 18px;
	font-weight: normal;
	color: #555;
}

.view-grouping .view-grouping-content > div {
	padding-left: 10px;
}

.view-tiu.view-display-id-page_2 h3 {
	font-size: 18px;
	font-weight: normal;
	color: #555;
	padding-top: 10px;
}

.view-tiu.view-display-id-page_2 a {
	font: 14px/1.7em Arial,Helvetica,sans-serif;
}

.image-widget img {
	padding: 0 !important;
	margin: 0 !important;
}

div.messages.error {
	padding: 10px;
}

.field-name-field-agree input {
	float: left;
	margin-top: 4px;
}

.field-name-field-agree label {
	/*width: auto;
	margin-left: 4px;*/
	display: none;
}

.field-name-field-agree .description {
	padding-left: 30px;
}

div.error {
	background: none;
	background-image: none;
}

.view-firms.view-display-id-block_2 .view-content {
	padding-top: 25px;
}

.firm-teaser-title.h2.title a {
    font-size: 18px;
}

.btn.logout {
	padding: 0 20px;
	float: right;
	height: 31px;
	line-height: 31px;
}

.user-page-title {
	padding-right: 120px;
}

#popup-order {
	display: none;
}

.mfp-content #popup-order {
	background: #f5f5f5;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    position: relative;
}

.mfp-content #popup-order h2 {
	margin-bottom: 15px;
}

.field-name-field-site .form-type-link-field > .description,
.field-name-field-option .form-item > .description {
	display: none;
}

.field-name-field-option table.field-multiple-table th .description {
	font-size: 0.85em;
	color: #555;
	font-weight: normal;
}

.node-unpublished {
	background: none;
}

.form-type-hierarchical-select > .description {
	display: none;
}

.form-type-hierarchical-select .hierarchical-select .description:last-child {
	display: block;
}

div#autocomplete {
	z-index: 101;
}

.webform-component-node-reference {
	display: none;
}

#block-localvet-filters-firms-filter-right .search-row.item-name, #block-localvet-filters-firms-filter-right .form-item-product {
	display: none;
}

.view-comments {
	padding-bottom: 15px;
}

.view-comments .field-content {
	font-style: italic;
}

@media (max-width: 768px) {
	.firm-full .firm-contacts-item label {
		width: auto;
		padding-right: 10px;
	}
	
	.firm-full .logo, .firm-full .map {
		width: 100%;
		float: none;
		text-align: center;
	}
	
	.firm-full .map {
		margin-top: 20px;
	}
	
	.view-tiu .view-content .tiu-item {
		width: 48%;
		margin-right: 3%;
	}
	
	.view-tiu .view-content .tiu-item:nth-child(even) {
		margin: 0;
	}
	
	.search-col {
		width: 100%;
		margin: 0;
		display: block;
	}
}

@media (max-width: 767px) {
	.view-video .view-content > div, .view-articles.view-display-id-block_3 .views-row {
		width: 100%;
	}
	
	.search-col {
		display: block;
		width: 100%;
		margin: 0;
	}
	
	.product-top .top-col {
		display: block;
		width: 100%;
	}
	
	.field-type-link-field .link-field-column {
		width: 100%;
		margin: 0 0 5px 0;
	}
	
	.reset {
		display: block;
		padding: 0 0 10px;
	}
	
	.view-tiu .view-content .tiu-item {
		width: 100%;
		margin: 0;
	}
	
	.product-top .top-col {
		width: 100%;
		float: none;
		padding: 0;
	}
	
	.product-top .top-col:first-child {
		padding-bottom: 10px;
		overflow: hidden;
	}
	
	.product-top .top-col p {
		margin-bottom: 10px;
	}
}

.firm-teaser-title {
    font-size: 18px;
}
